/* Clearfix */

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*Global Styles*/

em {
  font-style: italic;
}

strong {
  font-weight: 500;
}

.gray-dark {
  color: #6C6C6C;
}

.gray-light {
  color: #909090;
}

.gray-very-light {
  color: #A9ABAB;
}

.white {
  color: white;
}

.pink {
  color: #D6426C;
}

.bold {
  font-weight: 400;
}

.thin {
  font-weight: 100;
  letter-spacing: .08ch;
}

.italics {
  font-style: italic;
}

.show {
  display: none;
}

.block {
  display: block;
}

.huge {
  font-size: 100px;
}

.big {
  font-size: 75px;
}

.gray-background, .white-background, .carnelian-background {
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}

.gray-background {
  background-color: #EDEDED;
}

.white-background {
  background-color: #FFFFFF;
}

.carnelian-background {
  background-color: #a7372a;
}

.remove-padding {
  padding-bottom: 0px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.margin-top {
  margin-top: 50px;
}

body, h1, h2, h3, p {
  font-family: 'helvetica neue', helvetica, arial;
  font-weight: 200;
  line-height: 1.4em;
  color: #6C6C6C
}

h1 {
  font-weight: 400;
  font-size: 40px;
}

  .futura {
    font-family: 'futura-medium', 'Futura', 'Trebuchet MS', 'helvetica neue', helvetica, Arial, sans-serif;
    font-weight: 100;
  }

  .dark-blue {
    color: #245147;
  }

    .bottom-padding {
      padding-bottom: 10px;
    }

.more-bottom-padding {
  padding-bottom: 20px;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
}

h3 {
  font-size: 26px;
  margin-bottom: 15px;
  margin-top: 15px;
}

p {
  font-size: 20px;
  padding-bottom: 20px;
  color: #70777D;
}

p.small-text {
  font-size: 18px;
}

p.extra-small-text {
  font-size: 16px;
}

p.footer-text {
  font-size: 12px;
  padding-bottom: 10px;
}

p.first-child {
  margin-bottom: 20px;
}

ol {
  list-style: decimal;
  margin-left: 50px;
}

blockquote {
  margin-left: 50px;
}

.no-padding {
  padding: 0px;
}

.header-box {
  margin-bottom: 50px;
  margin-top: 50px;
}

/***** buttons and links *****/

.text-link {
  color: #3FC2A5;
  text-decoration: none;
  font-weight: 200;
}

  .text-link:hover {
    color: #359E87;
  }

.white-link {
  color: white;
  text-decoration: none;
}

  .white-link:hover {
    text-decoration: underline;
  }

.active-text-link {
  color: #3FC2A5;
  text-decoration: none;
  border-bottom: #3FC2A5 solid 1px;
  font-weight: 200;
}

.button {
  display: inline-block;
  font-family: 'helvetica neue', helvetica, arial;
  font-size: 26px;
  border-radius: 10px;
  text-decoration: none;
  padding: 22px 28px;
  background-color: transparent;
  border: 2px solid #3FC2A5;
  color: #3FC2A5;
}

  .button:hover {
    background-color: #3FC2A5;
    color: white;
    cursor: pointer;
  }

.button-home {
  display: inline-block;
  font-family: 'helvetica neue', helvetica, arial;
  font-size: 26px;
  border-radius: 10px;
  text-decoration: none;
  padding: 22px 28px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

  .button-home:hover {
    background-color: #3FC2A5;
    border: 2px solid #3FC2A5;
    cursor: pointer;
  }

.button-small {
  font-family: 'helvetica neue', helvetica, arial;
  font-size: 18px;
  font-weight: 400;
  border-radius: 7px;
  text-decoration: none;
  padding: 18px 20px;
  background-color: transparent;
  border: 2px solid #3FC2A5;
  color: #3FC2A5;
}

  .button-small:hover {
    background-color: #3FC2A5;
    color: white;
    cursor: pointer;
  }

.small-right-margin {
  margin-right: 15px;
}

.android-signup-button {
  font-family: 'helvetica neue', helvetica, arial;
  font-size: 18px;
  border-radius: 7px;
  text-decoration: none;
  padding: 18px 20px;
  background-color: transparent;
  border: 2px solid #3FC2A5;
  color: #3FC2A5;
  display: block;
  width: 100%;
  margin-top: 10px;
}

  .android-signup-button:hover {
    background-color: #3FC2A5;
    color: white;
    cursor: pointer;
  }

/*.period-reset-button {
  font-family: 'helvetica neue', helvetica, arial;
  font-size: 18px;
  border-radius: 7px;
  text-decoration: none;
  padding: 18px 20px;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  display: block;
  width: 100%;
  margin-top: 10px;
}

  .period-reset-button:hover {
    background-color: #ffffff;
    color: #a7372a;
    cursor: pointer;
  }*/

.button-white {
  font-family: 'helvetica neue', helvetica, arial;
  font-size: 18px;
  font-weight: 400;
  border-radius: 7px;
  text-decoration: none;
  padding: 18px 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

  .button-white:hover {
    background-color: white;
    color: #245147;
    cursor: pointer;
  }

.mantle-app-button {
  padding: 16px 46px;
  margin-right: 15px;
  margin-left: 15px;
}

  .home-app-button {
    padding: 16px 26px;
  }

  #newsletter-form .button-small {
    min-width: 150px;
  }

  .badge {
    display: inline-block;
  }

  .app-badge {
    width: 184px;
    height: 49px;
    display: inline-block;
    margin-right: 15px;
  }

  #app-store-badge {
    width: 184px;
    height: 55px;
    margin-right: 5px;
  }

  #google-play-badge {
    width: 184px;
    height: 55px;
  }

/***** forms *****/

input[type=text], input[type=email] {
  font-family: 'helvetica neue', helvetica, arial;
  font-size: 18px;
  padding: 19px 0px;
  text-align: center;
  color: #6C6C6C;
  border: 1px #ccc solid;
  border-radius: 0;
  display: block;
  width: 100%;
  -webkit-transition: border-color .1s ease-out;
  -moz-transition: border-color .1s ease-out;
  -o-transition: border-color .1s ease-out;
  transition: border-color .1s ease-out;
  -webkit-appearance: none;
}
  input:focus {
    outline: none;
    border-color: #3FC2A5;
  }

/***** navigation rules *****/

#groove {
  display: inline-block;
  text-indent: -9999px;
  width: 140px;
  height: 34px;
  background: url('/img/groove.png') center center no-repeat;
  background-size: 100%;
/*  margin-top: 13px;*/
}

.header-nav {
  float: right;
  margin-top: 5px;
}

.active-nav {
  font-size: 15px;
  color: #3FC2A5;
  text-decoration: none;
  border-bottom: #3FC2A5 solid 1px;
  font-weight: 200;
}

.content-container {
  padding-top: 84px;
}

.container {
  width: 80%;
  padding: 0 10%;
}

.text-body {
  margin-top: 20px;
}

.call-to-action, .call-to-action-android, .call-to-action-pr {
  text-align: center;
}

.call-to-action-pr {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.call-to-action h2 {
  margin-bottom: 25px;
}

/*Global Header & Footer Styles*/

#footer-container {
  padding: 50px 10% 50px 10%;
    width: 80%;
    background-color: white;
}

  #header-container { 
  /*set opacity of header container*/
  background-color: rgba(255, 255, 255, 0.87);
  border-bottom: 1px solid #ccc; 
  /*static header*/
  z-index: 999;
  padding: 25px 10%;
  width: 80%;
}

.nav-button {
  font-size: 16px;
  border-radius: 7px;
  text-decoration: none;
  padding: 16px 18px;
  display: inline-block;
  background-color: transparent;
  border: 2px solid #3FC2A5;
  color: #3FC2A5;
}

  .nav-button:hover {
    background-color: #3FC2A5;
    color: white;
    cursor: pointer;
  }

li.nav-button-link {
    display: inline-block;
    margin-top: -15px;
  }

  li.nav-link {
    display: inline-block;
    vertical-align: top;
    padding-top: 1px;
    margin-right: 20px;
  }

  li.nav-link a.text-link {
    font-size: 15px;
    padding-top: 15px;
  }

  #footer-container {
    position: absolute;
  }

  #footer-container div ul li {
    display: inline-block;
    font-size: 14px;
  }

  p.footer-text a.text-link {
    margin-right: 3px;
    margin-left: 3px;
  }

 .social {
    display: inline-block;
    margin-bottom: 15px;
  }

  .social-button {
    background-color: transparent;
    border: 2px solid #3FC2A5;
    color: #3FC2A5;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }

    .social-button:hover {
      background-color: #3FC2A5;
    }

  .social-button:last-child {
    margin-right: 0;
  }

  .social a {
    background-color: #3FC2A5;
    width: 32px;
    height: 32px;
    display: inline-block;
  }

  #twitter {
    background: url('../img/32x32-twitter.png') 0 0 no-repeat;
    background-size: 32px 32px;
  }
    #twitter:hover {
      background: url('../img/32x32-twitter-hover.png') 0 0 no-repeat;
      background-size: 32px 32px;
    }

  #facebook {
    background: url('../img/32x32-facebook.png') 0 0 no-repeat;
    background-size: 32px 32px;
  }
    #facebook:hover {
      background: url('../img/32x32-facebook-hover.png') 0 0 no-repeat;
      background-size: 32px 32px;
    }

  #pinterest {
      background: url('../img/32x32-pinterest.png') 0 0 no-repeat;
      background-size: 32px 32px;
  }
    #pinterest:hover {
      background: url('../img/32x32-pinterest-hover.png') 0 0 no-repeat;
      background-size: 32px 32px;
    }

  .footer-center {
    text-align: center;
  }

/* includes styles */

.affiliate-disclosure-block {
  padding: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
  border: 1px solid #4C4C4C;
}

.affiliate-text {

}

#clockdiv {
  text-align: center;
}

.countdown-box {
  background-color: #c85548;
  display: inline-block;
  width: 125px;
  height: 150px;
  margin-right: 25px;
}

  .countdown-box:last-child {
    margin-right: 0px;
  }

.countdown-text, .countdown-sub-text {
  color: white;
  text-align: center;
}

.countdown-text {
  background-color: #79190e;
  width: 75px;
  height: 68px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  vertical-align: center;
  padding-top: 7px;
}

.countdown-sub-text {
  padding-top: 8px;
}

/* index.html styles */

.mantle {
  background: url('/img/main-mantle.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 700px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align:center;
  position: relative;
}
  .mantle .button-home {
    position: relative;
  }

  .video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .video {
    max-width: 853px;
    max-height: 480px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

.tagline {
  position: relative;
  height: 500px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tagline h3 {
  margin-bottom: 35px;
}

.home-header {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.initiatives-background-img {
  background: url('/img/humans-with-periods.jpg') 0 0 no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  max-height: 500px;
  text-align: center;
  position: relative;
}

  .initiatives-background-img p {
    margin-bottom: 20px;
  }

.promise-background-img {
  background: url('/img/little-girl.jpg') 0 0 no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  max-height: 350px;
  text-align: center;
  position: relative;
}

  .promise-background-img h2 {
    padding-top: 100px;
  }

  .promise-background-img .tagline {
    max-width: 600px;
  }


h2.big {
  padding-top: 65px;
}

h1.huge {
  line-height: 0.2em;
  padding-bottom: 40px;
}

.main-mantle-header {
  padding-top: 75px;
}

.right-arrow {
  content: '';
  display: inline-block;
  margin-left: -0.1em;
  width: .4em;
  height: .4em;
  border-top: 0.1em solid #3fc2a5;
  border-right: 0.1em solid #3fc2a5;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  }

  a:hover .right-arrow {
    border-top: 0.1em solid #359E87;
    border-right: 0.1em solid #359E87;
  }

/* Home page slider */

.slider-background {
  position: relative;
  background: url('/img/woman-in-field.jpg') 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  padding: 40px 0;
}

  .slider-background h1 {
    padding-top: 20px;
  }

.review-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* about.html styles */

h1.about-header {
  padding-bottom: 75px;
}

#femme-img {
  width: 100%;
}

#groove-shirt-img {
  width: 100%;
}

.groover-container {
  overflow: hidden;
  padding-bottom: 75px;
}

  .groover-container:last-child {
    padding-bottom: 75px;
  }

.groover-img {
  width: 300px;
  height: 300px;
  background-color: transparent;
  border: 10px solid #6C6C6C;
  border-radius: 50%;
  float: left;
}

.JA-twitter, .BS-twitter {
    background: url('../img/Jennifer-Aldoretta-twitter.jpg') top left no-repeat;
    background-size: 600px 300px;
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
  }

.BS-twitter {
    background: url('../img/Brian-Smith-twitter.jpg') top left no-repeat;
    background-size: 600px 300px;
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
  }

    .JA-twitter:hover, .BS-twitter:hover {;
      background-position: top right;
    }

img.groover {
  width: 85%;
  border-radius: 50%;
  border: 10px solid #6C6C6C;
}

img.groover:hover {
      background-color: #6C6C6C;
      /*opacity: 0.9;*/
    }

.groover-text {
  width: 65%;
  float: right;
}

.groover-title {
  text-align: left;
  padding-bottom: 5px;
}

.groover-info {
  text-align: left;
}

/* blog.html styles */

#disqus_thread {
  margin-top: 40px;
}

.blog-list-container {
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

  .blog-list-container:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

.blog-container {
  width: 700px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.blog-img {
  width: 100%;
  margin-bottom: 25px;
}

.blog-info {
  overflow: hidden;
}

.blog-title {
  margin-bottom: 20px;
}

.blog-excerpt {
  margin-bottom: 20px;
}

.author-img {
  float: left;
  width: 75px;
}

.author-bio-block {
  padding: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
  background-color: #EDEDED;
}

.bio-img {
  float: left;
  width: 20%;
  padding-right: 25px;
}

.author-bio-img {
  width: 100%;
  height: auto;
  text-align: left;
  border-radius: 50%;
  border: 4px solid #6C6C6C;
}

.bio-text {
  float: right;
  width: 73%;
}

  .bio-text p.extra-small-text {
      padding-bottom: 0px;
  }

.blog-info-text {
  width: 100%;
  padding-top: 15px;
}

img.blog-author-img {
  width: 60px;
  text-align: left;
  border-radius: 50%;
  border: 2px solid #6C6C6C;
}

.blog-body {
  margin-top: 20px;
}

a.category {
  color: #3FC2A5;
  text-decoration: none;
  font-weight: 200;
}

  a.category:hover {
    color: #359E87;
  }

li.blog-category {
  display: inline-block;
  margin-right: 10px;
}

/* groove-for-android.html styles */

.app-img-intro-android {
  width: 55%;
  float: left;
}

.app-text-intro-android {
  width: 40%;
  display: inline-block;
  margin-top: 60px;
  margin-left: 5%;
}

/* app.html styles */


.app-mantle {
  overflow: hidden;
  background: #9c9c9c;
  background-size: cover;
  padding: 50px 0;
}
  .app-mantle .container {
    text-align: center;
  }

.video {
    max-width: 853px;
    max-height: 480px;
    position: relative;
  }

.app-info-text {
  width: 60%;
}

.app-text-intro {
  width: 35%;
  display: inline-block;
  margin-top: 200px;
  margin-left: 5%;
}

.app-img-intro {
  width: 60%;
  float: left;
}

.app-info img {
  width: 100%;
}

.app-intro-left-float, .app-intro-right-float {
  width: 50%;
  display: inline-block;
  max-height: 700px;
}

  .app-intro-right-float {
    float: right;
  }

  .app-intro-left-float {
    float: left;
  }

  .app-content {
    width: 80%;
    margin-left: 10%;
    padding-top: 100px;
  }

#meet-the-app-img {
  width: 100%;
}

.app-img-container {
  text-align: center;
  margin-top: 40px;
}

.app-img {
  width: 40%;
}

.goal-img-container, .course-img-container {
  margin-top: 50px;
  width: 30%;
  margin-right: 4%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.goal-img-container:last-child, .course-img-container:last-child {
  margin-right: 0;
}

.goal-img {
  width: 60%;
  margin-bottom: 10px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.phone-img-container {
  margin-top: 50px;
  width: 25%;
  margin-right: 4%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.phone-img-container:last-child {
  margin-right: 0;
}

.phone-img {
  width: 70%;
  margin-bottom: 10px;
}

.app-info-text h3 {
  margin-top: 5px;
}

.app-info-header {
  text-align: center;
}

.app-page-book-button {
    height: 45px;
  }

.margin-bottom {
  margin-bottom: 35px;
}

/* the-cycle.html styles */

img.the-cycle {
  float: left;
  margin-top: 75px;
  margin-bottom: 50px;
  margin-right: 50px;
  border: 1px solid #CCC;
}

.dropdown {
  background-color: transparent;
  border: 2px solid #3fc2a5;
  height: 58px;
  position: relative;
  border-radius: 7px;
}

.dropdown select {
    margin: 0px;
    font-family: 'helvetica neue';
    font-size: 18px;
    color: #3fc2a5;
    padding-left: 16px;
    line-height: 58px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.dropdown select:focus {
    outline: none;
}

.dropdown select:active {
  background: purple;
}

.dropdown:before {
  content: " ";
  position: absolute;
  width: 2px;
  top: 0;
  bottom: 0;
  right: 52px;
  background: #3fc2a5;
}

.dropdown:after {
  content: " ";
  position: absolute;
  right: 16px;
  top: 23px;
  border: 16px solid transparent;
  border-left-width: 10px;
  border-right-width: 10px;
  border-top-color: #3fc2a5;
}

.chapter-list-dropdown {
  display: none;
}

.chapter-links {
  padding-bottom: 0;
}

.left-column {
  width: 30%;
  float: left;
  margin-right: 5%;
}

.right-column {
  width: 65%;
  display: inline-block;
}

.chapter-divide {
  display: none;
}

.arrows {
  margin-top: 20px;
}

.previous-page {
  display: inline-block;
  float: left;
}

.next-page {
  display: inline-block;
  float: right;
}

a.notes {
  padding-top: 80px;
}

.image-container {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

img.image {
  max-width: 600px;
  text-align: center;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  margin-top: 15px;
}

img.book-image-cf {
  width: 60%;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

div.image-container p.small-text {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.book-download-prompt {
  background-color: #EDEDED;
  padding: 25px;
  text-align: center;
  margin-top: 25px;
}

/* help.html styles */

p.panel-title {
    font-size: 20px;
  }

/* store.html styles */

.product-container {
  box-sizing: border-box;
  padding: 10px;
  width: 24%;
  text-align: center;
  display: inline-block;
  margin-bottom: 20px;
}

.product-description {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}

.product-image {
  height: 200px;
  width: 200px;
  border: 1px solid #CCC;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

/* press.html styles */

.press-kit {
  margin-top: 30px;
}

/* legal styles */

.legal {
  margin-bottom: 15px;
}


/* mobile navigatron */
.mobile-nav-button {
  display: none;
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  height: 22px;
  width: 25px;
  right: 20px;
  top: 32px;
}
  .mobile-nav-button span {
    overflow: visible;
  }
  .mobile-nav-button span,
  .mobile-nav-button span:before,
  .mobile-nav-button span:after {
    display: inline-block;
    background-color: #3FC2A5;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 0;
  }

  .mobile-nav-button span:before,
  .mobile-nav-button span:after {
    content: ' ';
  }

  .mobile-nav-button span {
    top: 8px;
  }

  .mobile-nav-button span:before {
    top: -8px;
  }

  .mobile-nav-button span:after {
    bottom: -8px;
  }

#mobile-nav {
  z-index: 9999999;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  background: white;
  padding-top: 30px;
}
  #mobile-nav li {
    display: block;
    text-align: center;
    margin: 0;
  }

    #mobile-nav li a {
      font-size: 16px;
      line-height: 35px;
    }
body.mobile-nav-open #mobile-nav {
  display: block;
}

/* includes */

.app-download-prompt, .android-tester-prompt, .cf-masterclass {
  background-color: #3FC2A5;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 40px 25px;
}

.no-top-margin {
  margin-top: 0px;
}

.period-reset-plug {
  background-color: #a7372a;
  padding: 25px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 40px;
}

.app-download-button, .android-tester-button, .cf-masterclass-button, .period-reset-button {
  display: inline-block;
  font-family: 'helvetica neue', helvetica, arial;
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
  padding: 22px 28px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

  .period-reset-button:hover {
    background-color: white;
    color: #a7372a;
  }

  .app-download-button:hover, .android-tester-button:hover, .cf-masterclass-button:hover {
    background-color: white;
    color: #3FC2A5;
  }

.carnelian-period-reset-button {
  display: inline-block;
  font-family: 'helvetica neue', helvetica, arial;
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
  padding: 22px 28px;
  background-color: transparent;
  border: 2px solid #a7372a;
  color: #a7372a;
}

  .carnelian-period-reset-button:hover {
    background-color: #a7372a;
  }

/* Period Reset course */

#period-reset {
  width: 220px;
  height: 36px;
}

.period-reset-mantle {
  overflow: hidden;
  background: url('/img/courses/woman-in-field.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 700px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  position: relative;
}

.period-reset-info {
  max-width: 550px;
  border: 4px solid #ffffff;
  padding: 35px;
  background-color:rgba(0, 0, 0, 0.6);
}

.period-reset-header-container {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.course-img {
  width: 300px;
}

.course-info {
  display: inline-block;
  margin-bottom: 50px;
}

.course-info-text {
  width: 60%;
}

.course-text-intro {
  width: 45%;
  display: inline-block;
  margin-left: 5%;
}

.course-text-intro .gray-very-light {
  margin-top: 0px;
}

.course-whats-included {
  width: 50%;
  float: left;
}

.meet-the-course-img {
  width: 90%;
}

.course-collage-img {
  width: 500px;
  margin-bottom: 25px;
}

.course-img-container {
  text-align: center;
  margin-top: 40px;
}

.course-info-text h3 {
  margin-top: 5px;
}

.course-info-header {
  text-align: center;
  margin-bottom: 50px;
}

.pr-info-header {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

/* responsive, y'all */

@media screen and (max-width:1382px) {
  .product-container {
    width: 32%;
  }
}

@media screen and (max-width:1301px) {
  .app-content {
    padding-top: 40px;
  }

  li.nav-link {
    margin-right: 10px;
  }

    li.nav-link a.text-link {
      font-size: 14px;
    }

  .active-nav {
    font-size: 14px;
  }

}

@media screen and (max-width:1201px) {
  .JA-twitter, .BS-twitter {
    background-size: 440px 220px;
  }

  .groover-img {
    width: 220px;
    height: 220px;
  }

  .home-app-button {
    padding: 15px 10px;
  }

}

@media screen and (max-width:1140px) {

/* mobile nav */
  .mobile-nav-button {
    display: inline-block;
  }

  div.header-nav {
    display: none;
  }

  .content-container {
    padding-top: 79px;
  }

  #header-container {
    padding: 20px 10%;
  }

 /* #groove {
    margin-top: 4px;
  }*/

  .app-text-intro-android {
    margin-top: 10px;
  }

  #app-store-badge {
    margin-right: 0px;
  }

  .course-img {
    width: 225px;
  }

  .app-intro-left-float, .app-intro-right-float {
    float: none;
    width: 100%;
    display: block;
  }

   .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .app-content {
    margin-bottom: 50px;
  }


}

@media screen and (max-width:1100px) {
  .left-column p.small-text {
    font-size: 16px;
  }

  .video {
    max-width: 720px;
    max-height: 405px;
  }

  .course-text-intro h2.gray-very-light {
    font-size: 24px;
  }

}

@media screen and (max-width:1000px) {

  #footer-container {
    position: static;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  #header-container {
    text-align: center;
  }

  #groove {
    width: 80px;
    height: 22px;
    margin-top: 0;
  }

  .content-container {
    padding-top: 62px;
  }

  .mobile-nav-button {
    top: 23px;
  }

  /* end mobile nav */

  .footer-float-left, .footer-float-right, .signature {
    float: none;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 0;
  }

  img.image, img.book-image-cf {
    width: 400px;
  }

  .app-text-intro, /*.course-text-intro*/ {
    margin-top: 150px;
  }

  .app-info-text, .course-info-text {
    width: 75%;
  }

}

@media screen and (max-width:961px) {
  .right-column, .left-column {
    display: block;
    width: 100%;

  }

  .left-column {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .chapter-links {
    display: inline-block;
  }

  .header-box {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .chapter-divide {
    display: inline-block;
  }

  .product-container {
    width: 49%;
  }

}

@media screen and (max-width:901px) {

  .page-header {
    text-align: center;
  }

  h1.about-header, h1.help-header {
    padding-bottom: 50px;
    text-align: center;
  }

  .video {
      max-width: 540px;
      max-height: 304px;
  }

  .the-cycle-chapters h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .left-column {
    text-align: center;
  }

  .chapter-list {
    display: none;
  }

  .chapter-list-dropdown {
    display: block;
  }

  .groover-text {
    float: none;
    display: block;
    width: 100%;
  }

  .groover-img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .groover-title {
    text-align: center;
  }

  .blog-title {
    text-align: center;
  }

  .blog-container {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .app-info-text {
    width: 100%;
  }

  .app-img-intro, .app-img-intro-android, .course-whats-included {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }

  .app-text-intro-android {
    display: block;
    text-align: center;
    margin-left: 0;
    width: 100%;
  }

  #meet-the-app-img, .meet-the-course-img {
    width: 400px;
  }

  .app-text-intro, .course-text-intro {
    display: none;
  }

  .goal-img-container, .phone-img-container, .course-img-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

    .goal-img-container:last-child, .phone-img-container:last-child, .course-img-container:last-child {
      margin-left: auto;
      margin-right: auto;
    }

  .goal-img {
    width: 150px;
  }

  .app-info-header, .course-info-header {
    text-align: center;
  }

  .app-img, .course-img {
    width: 350px;
  }

  .press-kit {
    text-align: center;
  }

  div.image-container p.small-text {
    width: 90%;
  }

  /* home page */

  .mantle .container {
    width: auto;
    padding: 0 20px;
  }
  .mantle .iphone {
    width: 175px;
    height: 369px;
    background-size: 100%;
    float: none;
    margin: 0 auto;
  }
    .mantle .iphone img {
      width: 175px;
      height: 369px;
    }
  .mantle .text-container {
    float: none;
    margin: 20px auto 0 auto;
  }
    .mantle .text-container a {
      text-align: center;
      left: 0;
      right: 0;
    }

}

@media screen and (max-width: 761px) {

  .mantle {
    max-height: 400px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-position: left;
  }

  .promise-background-img {
    background-position: left;
  }
}

@media screen and (max-width: 751px) {

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 18px;
    font-weight: 300;
  }

  h1.huge {
    font-size: 50px;
  }

  h2.big {
    font-size: 35px;
    padding-top: 50px;
  }

  .initiatives-background-img {
    max-height: 350px;
  }

  .button, .app-download-button, .android-tester-button, .cf-masterclass-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  img.groover {
    width: 200px;
  }

  div.image-container p.small-text {
    width: 100%;
  }

  img.image, img.book-image-cf {
    width: 375px;
  }

  blockquote {
    margin-left: 25px;
  }

  /* home page */

  .container {
    width: auto;
    padding: 0 20px;
  }

  #newsletter-form input[type=text], input[type=email],
  #newsletter-form button {
    display: block;
    width: 100%;
  }

  #newsletter-form input[type=text], input[type=email] {
    margin: 0 0 10px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .product-container {
    width: 100%;
  }

  /* app page */

  .goal-img-container {
    width: 75%;
  }

  .course-img-container {
    width: 75%;
  }
}

@media screen and (max-width: 651px) {
  .call-to-action-pr {
    max-width: 95%;
  }

  .countdown-box {
    width: 69px;
    height: 83px;
    margin-right: 7px;
  }

  .countdown-text {
    background-color: #79190e;
    width: 41px;
    height: 37px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    vertical-align: center;
    padding-top: 0px;
  }

}

@media screen and (max-width: 576px) {

  .video {
    max-width: 300px;
    max-height: 150px;
  }

  .tagline-text {
    font-size: 40px;
  }

  .bio-img {
    padding-right: 20px;
  }

  .course-collage-img {
    width: 300px;
  }

  .course-whats-included img {
    width: 300px;
  }

  .course-info-text {
    width: 95%;
  }

  .course-info-header {
    margin-bottom: 15px;
  }

  .meet-the-course-img {
    margin-bottom: 15px;
  }

  .course-info {
    margin-bottom: 15px;
  }

  .mantle-app-button {
    margin-right: 5px;
    margin-left: 5px;
    display: block;
    margin-bottom: 15px;
  }

  .home-app-button {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .review-container {
    width: 67%;
  }

}

@media screen and (max-width: 475px) {

  .button, .app-download-button, .android-tester-button, .cf-masterclass-button {
    font-size: 20px;
    padding: 18px 22px;
  }

  .container {
    width: 90%;
    padding: 0 5%;
  }

  .groover-container:last-child {
    padding-bottom: 25px;
  }

  .app-img {
    width: 90%;
  }

  #meet-the-app-img {
    width: 90%;
  }

  img.image, img.book-image-cf {
    width: 100%;
  }

  .goal-img-container, .course-img-container {
    width: 100%;
  }

  .left-column p.small-text {
    font-size: 14px;
  }

  .product-container {
    margin-bottom: 15px;
  }

  .author-bio-block, .affiliate-disclosure-block {
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .bio-img {
    float: none;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
  }

  .bio-text {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }


}

/* bootstrap collapse CSS */

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
}

.panel-heading {
  padding: 0;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #3FC2A5;
}
.panel-title > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table {
  margin-bottom: 0;
}
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive {
  border-top: 1px solid #ddd;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel > .table-responsive {
  margin-bottom: 0;
  border: 0;
}
.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 4px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}
.panel-default {
  /*border-color: #ddd;*/
}
.panel-default > .panel-heading {
  color: #333;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  /*border-top-color: #ddd;*/
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
  /*border-bottom-color: #ddd;*/
}
.panel-primary {
  border-color: #428bca;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #428bca;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #428bca;
}
.panel-success {
  border-color: #d6e9c6;
}
.panel-success > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #d6e9c6;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #d6e9c6;
}
.panel-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #bce8f1;
}
.panel-warning {
  border-color: #faebcc;
}
.panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #faebcc;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #faebcc;
}
.panel-danger {
  border-color: #ebccd1;
}
.panel-danger > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ebccd1;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ebccd1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
          transition: height .35s ease;
}


/*****bootstrap.css dropdown style****/


/****End of bootstrap dropdown code****/
