/* Clearfix */

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

/*Global Styles*/

.gray-dark {
  color: #6C6C6C;
}

.gray-light {
  color: #909090;
}

.gray-very-light {
  color: #A9ABAB;
}

.pink {
  color: #BB2F51;
}

.bold {
  font-weight: 400;
}

.italics {
  font-style: italic;
}

.gray-background {
  background-color: #EDEDED;
  width: 100%;
  overflow: hidden;
  padding-bottom: 50px;
  padding-top: 50px;
}

.white-background {
  background-color: #FFFFFF;
  width: 100%;
  overflow: hidden;
  padding-bottom: 50px;
  padding-top: 50px;
}

body, h1, h2, h3, p {
  font-family: 'helvetica neue';
  font-weight: 200;
  line-height: 1.4em;
}

h1 {
  font-weight: 400;
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

p {
  font-size: 20px;
  padding-bottom: 20px;
  color: #70777D;
}

p.small-text {
  font-size: 18px;
}

p.footer-text {
  font-size: 12px;
  padding-bottom: 10px;
}

p.first-child {
  margin-bottom: 20px;
}

h1.page-header {
  padding-bottom: 25px;
}

ol {
  list-style: decimal;
  margin-left: 50px;
}


.text-link {
  color: #3FC2A5;
  text-decoration: none;
  font-weight: 200;
}

  .text-link:hover {
    color: #39AA91;
  }

.button {
  font-size: 26px;
  background-color: #3FC2A5;
  border-radius: 0;
  color: #FFFFFF;
  text-decoration: none;
  padding: 25px 30px;
}

  .button:hover {
    background-color: #39AA91;
  }

.button-small {
  font-size: 18px;
  background-color: #3FC2A5;
  border-radius: 0;
  color: #FFFFFF;
  text-decoration: none;
  padding: 20px 22px;
}

  .button-small:hover {
    background-color: #39AA91;
  }

.logo {
    float: left;
  }

.nav {
  float: right;
}

.content-container {
/*  width: 80%;*/
/*  padding: 0 10% 0 10%;*/
  padding-top: 100px;
}

.container {
  width: 80%;
  padding: 0 10%;
}

.text-body {
  margin-top: 20px;
}

.call-to-action {
  text-align: center;
  /*border-top: 1px solid #CCCCCC;*/
  padding-bottom: 30px;
}

.call-to-action h2 {
  margin-bottom: 50px;
}

/*Global Header & Footer Styles*/

  #header-container {
    padding: 30px 10% 30px 10%;
    width: 80%;
    background-color: white;
  }

#footer-container {
  padding: 50px 10% 50px 10%;
    width: 80%;
    background-color: white;
}

  #header-container { 
  /*set opacity of header container*/
  background-color: rgba(255, 255, 255, 0.87);
  border-bottom: 1px solid #ccc; 
  /*static header*/
  position: fixed; 
  z-index: 999;
}

  li.nav-link {
    display: inline-block;
    padding-top: 15px;
    margin-right: 30px;
  }

    li.nav-link:last-child {
      margin-right: 0;
    }

  li.nav-link a.text-link {
    font-size: 18px;
    padding-top: 15px;
  }

  #footer-container {
    position: absolute;
  }

  #footer-container div ul li {
    display: inline-block;
    font-size: 14px;
  }

  p.footer-text a.text-link {
    margin-right: 3px;
    margin-left: 3px;
  }

 .social {
    display: inline-block;
    margin-bottom: 15px;
  }

  .social-button {
    background-color: #3FC2A5;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 10px;
  }

    .social-button:hover {
      background-color: #39AA91;
    }

  .social-button:last-child {
    margin-right: 0;
  }

  .social a {
    background-color: #3FC2A5;
    width: 32px;
    height: 32px;
    display: inline-block;
  }

  #twitter {
    background: url('/img/32x32-twitter.png') 0 0 no-repeat;
  }

  #facebook {
    background: url('/img/32x32-facebook.png') 0 0 no-repeat;
  }

  #pinterest {
    background: url('/img/32x32-pinterest.png') 0 0 no-repeat;
  }

  .footer-center {
    text-align: center;
  }


/* index.html styles */

.mantle {
  overflow: hidden;
}

/* about.html styles */

h1.about-header {
  padding-bottom: 75px;
}

.groover-container {
  overflow: hidden;
  padding-bottom: 75px;
}

  .groover-container:last-child {
    padding-bottom: 75px;
  }

.groover-img {
  width: 35%;
  float: left;
}

img.groover {
  width: 85%;
  border-radius: 50%;
  border: 10px solid #6C6C6C;
}

.groover-text {
  width: 65%;
  float: right;
}

.groover-title {
  text-align: left;
  padding-bottom: 20px;
}

.groover-info {
  text-align: left;
}

/* blog.html styles */

.blog-container {
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

  .blog-container:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

.blog-info {
  overflow: hidden;
}

.blog-title {
  margin-bottom: 20px;
}

.blog-excerpt {
  margin-bottom: 30px;
}

.author-img {
  float: left;
  width: 75px;
}

.blog-info-text {
  width: 100%;
  padding-top: 15px;
}

img.blog-author-img {
  width: 60px;
  text-align: left;
  border-radius: 50%;
}

.blog-body {
  margin-top: 20px;
}

/* app.html styles */

.app-info {
  overflow: hidden;
  margin-bottom: 75px;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 75px;
}

 /* .app-info:first-child {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 75px;
  }*/

.app-img-container {
  float: left;
  width: 55%;
}

.app-img {
  width: 90%;
}

.app-info-text {
  float: right;
  width: 45%;
}

.app-info-header {
  margin-bottom: 20px;
}

.app-page-book-button {
    height: 45px;
  }

.margin-bottom {
  margin-bottom: 35px;
}

.faq {
  overflow: hidden;
}

/* press.html styles */

.press-kit {
  margin-top: 60px;
  margin-bottom: 40px;
}

/* legal styles */

.legal {
  margin-bottom: 15px;
}

@media screen and (max-width:1000px) {
  .footer-float-left, .footer-float-right, .signature {
    float: none;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 0;
  }
}

@media screen and (max-width:901px) {

  h1.page-header {
    text-align: center;
  }

  h1.about-header {
    padding-bottom: 50px;
    text-align: center;
  }

  .groover-text {
    float: none;
    display: block;
    width: 100%;
  }

  .groover-img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .groover-title {
    text-align: center;
  }

  .blog-title {
    text-align: center;
  }

  .app-info {
    padding-bottom: 25px;
    margin-bottom: 50px;
  }

  .app-img-container {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .app-info-text {
    float: none;
    display: block;
    width: 100%;
  }

  .app-info-header {
    text-align: center;
  }

  .app-img {
    width: 350px;
  }

  div.app-info-text a.button-small {
    text-align: center;
  }

  .app-page-book-button {
    text-align: center;
  }

  .press-kit {
    text-align: center;
  }

}

@media screen and (max-width: 751px) {

  img.groover {
    width: 200px;
  }

  .groover-img {
    width: 220px;
  }
}

@media screen and (max-width: 475px) {

  .button {
    font-size: 20px;
    padding: 18px 22px;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 28px;
  }

  .groover-container:last-child {
    padding-bottom: 25px;
  }

  .app-img {
    width: 90%;
  }
}

/* bootstrap collapse CSS */

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  /*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);*/
}
/*.panel-body {
  padding: 15px;
}*/
.panel-heading {
  padding: 10px 0;
  /*border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;*/
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #3FC2A5;
}
.panel-title > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table {
  margin-bottom: 0;
}
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive {
  border-top: 1px solid #ddd;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel > .table-responsive {
  margin-bottom: 0;
  border: 0;
}
.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 4px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
/*.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid #ddd;*/
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}
.panel-default {
  /*border-color: #ddd;*/
}
.panel-default > .panel-heading {
  color: #333;
  /*background-color: #f5f5f5;*/
  /*border-color: #ddd;*/
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  /*border-top-color: #ddd;*/
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
  /*border-bottom-color: #ddd;*/
}
.panel-primary {
  border-color: #428bca;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #428bca;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #428bca;
}
.panel-success {
  border-color: #d6e9c6;
}
.panel-success > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #d6e9c6;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #d6e9c6;
}
.panel-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #bce8f1;
}
.panel-warning {
  border-color: #faebcc;
}
.panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #faebcc;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #faebcc;
}
.panel-danger {
  border-color: #ebccd1;
}
.panel-danger > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ebccd1;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ebccd1;