---
title: About - Groove
description: Learn about Groove&rsquo;s mission and the awesome folks who make it happen.
---

{% include header.html %}

<div class="white-background">
	<div class="container">
		<div class="header-box">
      <h1 class="gray-dark page-header">About</h1>
      <h2 class="gray-light page-header">The Company</h2>
    </div>
    <h3 class="gray-very-light">Groove was born out of Jennifer&rsquo;s personal struggle with her reproductive health and her drive to help others. We&rsquo;re on a mission to redefine what it means to be a women&rsquo;s health company, and we&rsquo;re committed to education.</h3>
    <h3 class="gray-very-light">We believe that educating people about their bodies will ultimately lead them down a path of empowerment, and to a happier, healthier life. Every single thing we do at Groove is done with this mission in mind.</h3>


		<div class="header-box">
      <h1 class="gray-dark page-header">Get to know</h1>
      <h2 class="gray-light page-header">The people</h2>
    </div>
		<div class="groover-container">
			<div class="groover-img">
				<img class="groover" src="/img/Jennifer-Aldoretta.jpg" />
			</div>
			<div class="groover-text">
				<div itemscope itemtype="http://schema.org/Person">
					<h2 class="gray-dark groover-title"><span itemprop="name">Jennifer Aldoretta</span>, <span itemprop="jobTitle">Co-Groover &amp; CEO</span></h2>
					<p class="gray-light groover-info">Jennifer studied mechanical engineering at <span itemprop="alumniOf">Georgia Tech</span> in Atlanta. Frustrated by the lack of education and innovation in women&rsquo;s health, she was led to quit her job as an engineer in pursuit of a grand vision. She is passionate about the intersection of healthcare and technology and is devoted to transforming the status quo. She is committed to carrying out <span itemprop="affiliation">Groove</span>&rsquo;s mission because she believes it has the power to create widespread social change at a fundamental level. When she&rsquo;s not working or telling corny jokes, Jennifer enjoys running, reading, painting, listening to music, and lounging with her dog Bailey.</p>
				</div>
			</div><!--.groover-text-->
		</div><!--.groover-container-->
		<div class="groover-container">
			<div class="groover-img">
				<img class="groover" src="/img/Brian-Smith.jpg" />
			</div>
			<div class="groover-text">
				<div itemscope itemtype="http://schema.org/Person">
					<h2 class="gray-dark groover-title"><span itemprop="name">Brian Smith</span>, <span itemprop="jobTitle">Co-Groover &amp; CTO</span></h2>
					<p class="gray-light groover-info">Brian is an entrepreneur who studied mechanical engineering at <span itemprop="alumniOf">Georgia Tech</span>. He is a self-taught software engineer who specializes in Ruby on Rails, MySQL, HTML, CSS, JavaScript, and being awesome. He&rsquo;s passionate about <span itemprop="affiliation">Groove</span> because he believes people deserve knowledge and options when it comes to their healthcare, and he wants to build products that can change the world. In his free time, Brian enjoys riding his bicycle, running, reading, coding, and doing just about anything outdoors.</p>
				</div>
			</div><!--.groover-text-->
		</div><!--.groover-container-->
	</div><!--.container-->
</div><!--.white-background-->

{% include call-to-action.html %}

{% include footer.html %}