---
title: About - Groove
description: Learn about the awesome people behind Groove.
---

{% include header.html %}

<div class="white-background">
	<div class="container">
		<h1 class="about-header gray-dark">About the Groovers</h1>
		<div class="groover-container">
			<div class="groover-img">
				<img class="groover" src="/img/Jennifer-Aldoretta.jpg" />
			</div>
			<div class="groover-text">
				<div itemscope itemtype="http://schema.org/Person">
					<h2 class="gray-dark groover-title"><span itemprop="name">Jennifer Aldoretta</span>, <span itemprop="jobTitle">Co-Groover &amp; CEO</span></h2>
					<p class="gray-light groover-info">Jennifer studied mechanical engineering at <span itemprop="alumniOf">Georgia Tech</span> in Atlanta. Frustrated by the lack of education and innovation in women&rsquo;s health, she was led to quit her job as an engineer in pursuit of a grand vision. She is passionate about the intersection of healthcare and technology and is devoted to transforming the status quo. She is committed to carrying out <span itemprop="affiliation">Groove</span>&rsquo;s mission because she believes it has the power to create widespread social change at a fundamental level by empowering women. When she&rsquo;s not working or telling corny jokes, Jennifer enjoys cycling, running, traveling, reading, painting, and lounging with her dog Bailey.</p>
				</div>
			</div><!--.groover-text-->
		</div><!--.groover-container-->
		<div class="groover-container">
			<div class="groover-img">
				<img class="groover" src="/img/Brian-Smith.jpg" />
			</div>
			<div class="groover-text">
				<div itemscope itemtype="http://schema.org/Person">
					<h2 class="gray-dark groover-title"><span itemprop="name">Brian Smith</span>, <span itemprop="jobTitle">Co-Groover &amp; CTO</span></h2>
					<p class="gray-light groover-info">Brian is an entrepreneur who studied mechanical engineering at <span itemprop="alumniOf">Georgia Tech</span>. He is a self-taught software engineer who specializes in Ruby on Rails, MySQL, HTML, CSS, JavaScript, and being awesome. He&rsquo;s passionate about <span itemprop="affiliation">Groove</span> because he believes women deserve knowledge and options when it comes to their healthcare, and he wants to build products that are well-designed and easy to use. In his free time, Brian enjoys running, reading, coding, biking, and doing just about anything outdoors.</p>
				</div>
			</div><!--.groover-text-->
		</div><!--.groover-container-->
	</div><!--.container-->
</div><!--.white-background-->

{% include call-to-action.html %}

{% include footer.html %}