---
title: About - Groove
---

{% include header.html %}

<div class="white-background">
	<div class="container">
		<h1 class="about-header gray-dark">About the Groovers</h1>
		<div class="groover-container">
			<div class="groover-img">
				<img class="groover" src="/img/JA.jpg" />
			</div>
			<div class="groover-text">
				<h2 class="gray-dark groover-title">Jennifer Aldoretta, Co-Groover & CEO</h2>
				<p class="gray-light groover-info">Jennifer studied mechanical engineering at Georgia Tech in Atlanta. Frustrated by the lack of education and innovation in women&rsquo;s health, she was led to quit her job as an engineer in pursuit of a grand vision. She is passionate about the intersection of healthcare and technology and is devoted to transforming the status quo. She is committed to carrying out Groove&rsquo;s mission because she believes it has the power to create widespread social change at a fundamental level by empowering women. When she&rsquo;s not working or telling corny jokes, Jennifer enjoys cycling, running, traveling, reading, painting, and lounging with her dog Bailey.</p>
			</div><!--.groover-text-->
		</div><!--.groover-container-->
		<div class="groover-container">
			<div class="groover-img">
				<img class="groover" src="/img/BS.jpg" />
			</div>
			<div class="groover-text">
				<h2 class="gray-dark groover-title">Brian Smith, Co-Groover & CTO</h2>
				<p class="gray-light groover-info">Brian is an entrepreneur who studied mechanical engineering at Georgia Tech. He is a self-taught software engineer who specializes in Ruby on Rails, MySQL, HTML, CSS, JavaScript, and being awesome. He&rsquo;s passionate about Groove because he believes women deserve knowledge and options when it comes to their healthcare, and he wants to build products that are well-designed and easy to use. In his free time, Brian enjoys running, reading, coding, biking, and doing just about anything outdoors.</p>
			</div><!--.groover-text-->
		</div><!--.groover-container-->
	</div><!--.container-->
</div><!--.white-background-->

{% include call-to-action.html %}

{% include footer.html %}