---
title: App - Groove
description: Learn how to use Groove's app to track your cycles, prevent pregnancy without hormones or devices, or maximize your chances of getting pregnant.
---

{% include header.html %}

<span itemscope itemtype="http://schema.org/Product" itemref="_url4">
<div class="white-background">
	<div class="container">
		<div class="app-info">
			<div class="app-img-container">
				<img itemprop="image" class="app-img" src="/img/cycle-tracking.png" />
			</div><!--.app-img-container-->
			<div class="app-info-text">
				<h1 class="gray-dark app-info-header">Track your Cycle</h1>
				<p itemprop="description" class="gray-light">Groove uses advanced algorithms to predict your period with incredible accuracy. The more you use Groove, and the more data you add, the smarter it will become.</p>
				<p class="gray-light">Enter data about your unique cycle &ndash; bleeding, cervical fluid patterns, sexual behavior &ndash; and view it all on a stunning, one-of-a-kind chart. We work hard predicting your periods so you don&rsquo;t have to.</p>
				<p class="gray-light"><span itemprop="name">Groove</span> is the period tracker you&rsquo;ve been waiting for &ndash; a beautifully simple app for a beautifully unique you.</p>
			</div><!--app-info-text-->
		</div><!--.cycle-tracking-->
		<div class="app-info">
			<div class="app-img-container">
				<img class="app-img" src="/img/fertility-charting.png" />
			</div><!--.app-img-container-->
			<div class="app-info-text">
				<h1 class="gray-dark app-info-header">Know when you&rsquo;re fertile.</h1>
				<p class="gray-light">Many of us aren&rsquo;t taught that women are only fertile for a fraction of the menstrual cycle. Groove will help you pinpoint these fertile days to practice the sympto-thermal method of fertility awareness to naturally and effectively avoid a pregnancy, to help you get pregnant, or to monitor and improve your reproductive health.</p>
				<p class="gray-light margin-bottom">Enter data about two simple fertility signs &ndash; basal body temperature and cervical fluid &ndash; to practice the sympto-thermal method. Not sure where to start? We can help.</p>
				<div class="app-page-book-button">
					<a class="button-small" href="/the-cycle">Learn the method for free</a>
				</div>
			</div><!--app-info-text-->
		</div><!--.cycle-tracking-->
	</div><!--.container-->
</div><!--.white-background-->

{% include call-to-action.html %}

{% include footer.html %}