---
title: App - Groove
---

{% include header.html %}

<div class="white-background">
	<div class="container">
		<div class="app-info">
			<div class="app-info-text">
				<h1 class="gray-dark app-info-header">Meet the app</h1>
				<h3 class="gray-light app-info-header">We made it just for you.</h3>
			</div><!--app-info-text-->
			<div class="app-img-container">
				<img class="app-img" src="/img/meet-the-app.png" />
			</div><!--.app-img-container-->
		</div><!--.app-info-->
	</div><!--.container-->
</div><!--.white-background-->
<div class="gray-background">
	<div class="container">
		<div class="app-info">
			<div class="app-info-text">
				<h1 class="gray-dark app-info-header">Crafted with you in mind</h1>
				<h3 class="gray-light app-info-header">We can help you reach your goal, </br> whatever it may be.</h3>
			</div><!--app-info-text-->
			<div class="column-img-container">
				<img class="goal-img" src="/img/cycle-tracking-icon.png" />
				<h3 class="gray-dark">Track your cycles</h3>
				<p class="gray-light">Enter your unique data to learn about your cycles and predict upcoming periods with accuracy, even if your cycles are irregular.</p>
			</div><!--.goal-img-container-->
			<div class="column-img-container">
				<img class="goal-img" src="/img/get-pregnant-icon.png" />
				<h3 class="gray-dark">Get pregnant</h3>
				<p class="gray-light">Whether you&rsquo;re struggling to get pregnant or looking for the best times to try, we&rsquo;ve got your back.</p>
			</div><!--.goal-img-container-->
			<div class="column-img-container">
				<img class="goal-img" src="/img/avoid-pregnancy-icon.png" />
				<h3 class="gray-dark">Avoid pregnancy</h3>
				<p class="gray-light">Practice the fertility awareness method (FAM) to pinpoint when you are and aren&rsquo;t fertile. Even if you&rsquo;re a newbie, we can help.</p>
			</div><!--.goal-img-container-->
		</div><!--.app-info-->
	</div><!--.container-->
</div><!--.gray-background-->
<div class="white-background">
	<div class="container">
		<div class="app-info">
			<div class="app-info-text">
				<h1 class="gray-dark app-info-header">An expert at your fingertips</h1>
				<h3 class="gray-light app-info-header">Our app configures based on your unique data, </br>and gets smarter the more you use it.</h3>
			</div><!--app-info-text-->
			<div class="column-img-container">
				<img class="goal-img" src="/img/goal.png" />
				<p class="gray-light">A customized </br>experience.</p>
			</div><!--.goal-img-container-->
			<div class="column-img-container">
				<img class="goal-img" src="/img/info.png" />
				<p class="gray-light">Information </br>tailored for you.</p>
			</div><!--.goal-img-container-->
			<div class="column-img-container">
				<img class="goal-img" src="/img/home-cycle-tracking.png" />
				<p class="gray-light">Accuracy you&rsquo;ll love.</p>
			</div><!--.goal-img-container-->
		</div><!--.app-info-->
	</div><!--.container-->
</div><!--.white-background-->
<div class="gray-background no-bottom-padding">
	<div class="container">
		<div class="app-info">
			<div class="app-info-text">
				<h1 class="gray-dark app-info-header">Elegance, perfected</h1>
				<h3 class="gray-light app-info-header">We&rsquo;ve worked hard creating an app we&rsquo;re proud of, </br>and one that you&rsquo;ll love to use.</h3>
			</div><!--app-info-text-->
			<div class="column-img-container">
				<img class="goal-img" src="/img/data-cycle-tracking.png" />
				<p class="gray-light">Meticulously crafted.</p>
			</div><!--.goal-img-container-->
			<div class="column-img-container">
				<img class="goal-img" src="/img/stats-cycle-tracking.png" />
				<p class="gray-light">Built with passion.</p>
			</div><!--.goal-img-container-->
			<div class="column-img-container">
				<img class="goal-img" src="/img/home-fertility-charting.png" />
				<p class="gray-light">Just plain beautiful.</p>
			</div><!--.goal-img-container-->
		</div><!--.app-info-->
	</div><!--.container-->
</div><!--.gray-background-->

	{% include call-to-action2.html %}

	<!-- <div class="container">
		<div class="faq">
			<h1 class="page-header gray-dark">Frequently Asked Questions</h1>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
			    <div class="panel-heading">
			      <h3 class="panel-title">
			        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			          What&rsquo;s the sympto-thermal method of fertility awareness?
			        </a>
			      </h3>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<p class="gray-light">
			        The sympto-thermal method of fertility awareness is a scientifically-based method of determining when during your unique menstrual cycle you are fertile...and you&rsquo;re not fertile every day! Practicing the sympto-thermal method allows you to naturally and effectively avoid a pregnancy, get pregnant quickly and easily, and monitor your reproductive health. It requires that you practice a simple set of rules and monitor two scientifically-backed signs of fertility: (1) cervical fluid and (2) basal body temperature. Need some help getting started? <a class="text-link" target="_blank" href="/the-cycle">Learn the sympto-thermal method for free</a>, right from our website! 
			      	</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h3 class="panel-title">
			        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			          How does Groove help me figure out when I&rsquo;m fertile?
			        </a>
			      </h3>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<p class="gray-light">
			        Our app has two account types: (1) Cycle Tracking and (2) Fertility Charting. Groove’s advanced Fertility Charting account has all the amazing features you need to practice the sympto-thermal method of fertility awareness to find out precisely when you&rsquo;re fertile. The sympto-thermal method is an incredible way to take control of your reproductive health, and it requires the daily charting of two simple fertility signs: (1) cervical fluid and (2) basal body temperature. The sympto-thermal method can be used to naturally and effectively avoid pregnancy, as a tool to help you get pregnant quickly, or as a tool to monitor your reproductive health! <a class="text-link" target="_blank" href="/the-cycle">Learn how to practice the sympto-thermal method for free</a>. 
			      	</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h3 class="panel-title">
			        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			          What the heck is cervical fluid and how do I check it?
			        </a>
			      </h3>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<p class="gray-light">
			        Each cycle, your cervix produces fluid. This fluid is a perfectly natural and healthy bodily secretion! Monitoring cervical fluid allows you to pinpoint the beginning of your fertile window each cycle, and it&rsquo;s an excellent way to make sure your reproductive system is in good health. Learning how to check your cervical fluid is both simple and incredibly useful. <a class="text-link" target="_blank" href="/the-cycle/chapter-6-hormone-changes-and-fertility-signals/#what-is-cervical-fluid">Read more about cervical fluid on our website</a> or get in touch with a <a class="text-link" target="_blank" href="/the-cycle/appendix-d-fertility-awareness-and-menstrual-health-resources">Fertility Awareness Educator</a> for some one-on-one guidance.
			      	</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h3 class="panel-title">
			        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
			          What&rsquo;s basal body temperature and why should I track it?
			        </a>
			      </h3>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p class="gray-light">
			        Basal body temperature (BBT) is your body&rsquo;s core temperature at rest, and it&rsquo;s a super important fertility sign! After ovulation occurs, your body produces a hormone called progesterone that causes a sustained rise in your BBT. Tracking your BBT helps confirm ovulation and the end of your fertile window. <a class="text-link" target="_blank" href="/the-cycle/chapter-6-hormone-changes-and-fertility-signals/#what-is-bbt">Learn more about basal body temperature</a>.
			      	</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h3 class="panel-title">
			        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
			          Help...I don&rsquo;t understand fertility charting!
			        </a>
			      </h3>
			    </div>
			    <div id="collapseFive" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p class="gray-light">
			        Don&rsquo;t worry, we&rsquo;ve all been there...that&rsquo;s why we&rsquo;re here to guide and support you! You can learn the basics of charting your fertility using the sympto-thermal method <a class="text-link" target="_blank" href="/the-cycle/chapter-7-the-rules-of-the-sympto-thermal-method">for free right from our website</a>. If you&rsquo;re still not totally confident in your ability to practice the sympto-thermal method, we recommend getting in touch with a <a class="text-link" target="_blank" href="/the-cycle/appendix-d-fertility-awareness-and-menstrual-health-resources">Fertility Awareness Educator</a> for extra guidance.
			      	</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h3 class="panel-title">
			        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
			          I&rsquo;m having trouble figuring out my cervical fluid pattern.
			        </a>
			      </h3>
			    </div>
			    <div id="collapseSix" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p class="gray-light">
			        Your personal cervical fluid pattern might take some time to figure out at first, but trust us when we say this knowledge is completely worth it! If you find yourself stuck, <a class="text-link" target="_blank" href="/the-cycle/chapter-8-checking-fertility-signs-how-to">there&rsquo;s tons of great information on our website</a>. If you still find yourself struggling, get in touch with an amazing <a class="text-link" target="_blank" href="/the-cycle/appendix-d-fertility-awareness-and-menstrual-health-resources">Fertility Awareness Educator</a> to help you chart with confidence! 
			      	</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h3 class="panel-title">
			        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
			          Why can&rsquo;t I add a passcode to Groove&rsquo;s app?
			        </a>
			      </h3>
			    </div>
			    <div id="collapseSeven" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p class="gray-light">
			        We think that protecting your cycle data is just as important as protecting your emails, text messages, and other sensitive personal information on your device. It&rsquo;s simple to <a class="text-link" target="_blank" href="http://support.apple.com/kb/ht4113">add a passcode</a> to your iPhone or iPad, and we think it&rsquo;s important for us to build features that aren&rsquo;t already provided by your device. This lets device designers and developers keep doing what they do best, and allows us to do what we do best, which is making Groove the best period and fertility tracking app available! 
			      	</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h3 class="panel-title">
			        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
			          Why doesn&rsquo;t Groove have notes or a daily journal?
			        </a>
			      </h3>
			    </div>
			    <div id="collapseEight" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p class="gray-light">
			        The ability to add daily notes is a very popular feature request, so we&rsquo;re adding it real soon! We&rsquo;re all about providing you with a top-notch charting experience.
			      	</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h3 class="panel-title">
			        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
			          I have an idea for a feature I think Groove should add!
			        </a>
			      </h3>
			    </div>
			    <div id="collapseNine" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p class="gray-light">
			        Do you think there&rsquo;s something we can do to improve our app? Is there a feature you&rsquo;re just <em>dying</em> for us to add? Send us a message at <a class="text-link" href="mailto:howdy@readytogroove.com">howdy@readytogroove.com</a> and let us know! We would love to hear from you.
			      	</p>
			      </div>
			    </div>
			  </div>
			</div>
		</div><!--.faq-->
	<!-- </div> --><!--.container-->
<!-- </div> --><!--.white-background-->

{% include footer.html %}