---
title: Blog - Groove
---

{% include header.html %}

<div class="gray-background">
	<div class="container">
		{% for post in site.categories['blog'] %}
		<div class="blog-list-container">
			<h1 class="gray-dark blog-title"><a class="text-link" href="{{site.base-url}}{{post.url}}">{{ post.title }}</a></h1>
			<h3 class="gray-light blog-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</h3>
			<div class="blog-info">
				<div class="author-img">
					{% if post.author == "Brian Smith" %}
					<img class="blog-author-img" src="../img/BS.jpg" />
					{% else %}
					<img class="blog-author-img" src="../img/JA.jpg" />
					{% endif %}
				</div><!--.author-img-->
				<div class="blog-info-text">
					<p class="gray-very-light small-text">{{ post.author }} wrote this on {{ post.date | date: '%B %-d, %Y' }}</p>
				</div><!--.blog-info-text-->
			</div><!--.blog-info-->
		</div><!--.blog-list-container-->
		{% endfor %}
	</div><!--.container-->
</div><!--.gray-background-->

{% include footer.html %}