---
title: Groove for Android - Groove
description: Learn how to the Groove app to track your cycles, prevent pregnancy, or maximize your chances of getting pregnant.
img: groove-for-android.png
---

{% include header.html %}


<span itemscope itemtype="http://schema.org/Product" itemref="_url4">
<div class="gray-background">
	<div class="container">
		<div class="app-info">
			<div class="app-info-text hidden">
				<h1 class="gray-dark app-info-header">Groove for Android</h1>
				<h2 class="gray-very-light app-info-header">It&rsquo;s coming. Sign up below and get notified as soon as it&rsquo;s ready.</h2>
				<!-- Android newsletter signup -->
				<div class="call-to-action-android">
		      <form id="newsletter-form" action="http://readytogroove.us3.list-manage.com/subscribe/post?u=8e28e80027ad10398655dfd76&amp;id=05963c4c17" method="post" class="clearfix">
		        <input name="EMAIL" type="email" placeholder="you@yours.com" required />
		        <button class="android-signup-button" type="submit">SIGN ME UP</button>
		      </form><!--#email-form-->
		    </div><!--.call-to-action-->
		    <!-- end of Android newsletter signup -->
			</div><!--app-text-intro-android-->
			<div class="app-img-intro-android">
				<img id="meet-the-app-img" src="/img/groove-for-android.png" />
			</div><!--.app-img-intro-android-->
			<div class="app-text-intro-android">
				<h1 class="gray-dark">Groove for Android</h1>
				<h2 class="gray-very-light">It&rsquo;s coming. Sign up below and get notified as soon as it&rsquo;s ready.</h2>
				<!-- Android newsletter signup -->
				<div class="call-to-action-android">
		      <form id="newsletter-form" action="http://readytogroove.us3.list-manage.com/subscribe/post?u=8e28e80027ad10398655dfd76&amp;id=05963c4c17" method="post" class="clearfix">
		        <input name="EMAIL" type="email" placeholder="you@yours.com" required />
		        <button class="android-signup-button" type="submit">SIGN ME UP</button>
		      </form><!--#email-form-->
		    </div><!--.call-to-action-->
		    <!-- end of Android newsletter signup -->
			</div><!--app-text-intro-android-->
		</div><!--.app-info-android-->
	</div><!--.container-->
</div><!--.gray-background-->

{% include footer.html %}