---
title: Groove - Smarter fertility. A better you.
description: We provide information and tools, like the Groove app, to help you learn about your body and practice the sympto-thermal method of fertility awareness.
---

{% include header.html %}

<div class="mantle">
  <div class="container clearfix">
    <div class="iphone">
      <div class="screen-container">
        <img src="img/screen1.png" id="screen1" class="screen active" />
        <img src="img/screen2.png" id="screen2" class="screen" />
        <img src="img/screen3.png" id="screen3" class="screen" />
        <img src="img/screen4.png" id="screen4" class="screen" />
        <img src="img/screen5.png" id="screen5" class="screen" />
        <img src="img/screen6.png" id="screen6" class="screen" />
      </div>
    </div>

    <div class="text-container clearfix">
      <div id="text1" class="text active" >
        <h1>Smarter fertility.<br>A better you.</h1>
        <h3>Groove empowers you with information and tools made for you, your body, and your health.</h3>
      </div>
      <div id="text2" class="text" >
        <h1>Listen to your body.</h1>
        <h3>It gives you all the information you need to be in control of your cycle and your fertility.</h3>
      </div>
      <div id="text3" class="text" >
        <h1>Never get caught off guard.</h1>
        <h3>Groove predicts the start of your next cycle with incredible accuracy.</h3>
      </div>
      <div id="text4" class="text" >
        <h1>Get the skinny.</h1>
        <h3>View your cycle averages and past data on one simple screen.</h3>
      </div>
      <div id="text5" class="text" >
        <h1>Manage your fertility.</h1>
        <h3>Use Groove to naturally and effectively avoid pregnancy, to help you get pregnant, or to take control of your reproductive health.</h3>
      </div>
      <div id="text6" class="text" >
        <h1>You can&rsquo;t live without it.</h1>
        <h3>Groove has all the features you need &ndash; and the look and feel you&rsquo;ve been waiting for.</h3>
      </div>

      <a target="_blank" class="button" href="https://itunes.apple.com/app/id831795151">Get the iPhone app now</a>
    </div>
  </div>
</div><!--.mantle-->

<div class="gray-background">
  <div class="container">
    <div class="call-to-action">
      <h2 class="gray-dark">Never miss an update.</h2>
      <form id="newsletter-form" action="http://readytogroove.us3.list-manage2.com/subscribe/post?u=8e28e80027ad10398655dfd76&amp;id=b70e5a2bd7" method="post" class="clearfix">
        <input name="EMAIL" type="email" placeholder="you@yours.com" required />
        <button class="button-small" type="submit">Subscribe</a>
      </form><!--#email-form-->
    </div><!--.call-to-action-->
  </div><!--.container-->
</div><!--.gray-background-->

<script>
  var $screens = $('.screen');
  var $texts = $('.text');
  var $activeScreen = $screens.first();
  var $activeText = $texts.first();
  var currentSlide = 1;
  var numSlides = $screens.length;
  var gotoSlide = function(n) {
    $activeScreen.removeClass('active').addClass('deactivating');
    $activeText.removeClass('active').addClass('deactivating');
    $nextScreen = $('#screen' + n).removeClass('deactivating').addClass('active');
    $nextText = $('#text' + n).removeClass('deactivating').addClass('active');
    setTimeout(function() {
      $activeScreen.removeClass('deactivating');
      $activeText.removeClass('deactivating');
      $activeScreen = $nextScreen;
      $activeText = $nextText;
    }, 1000);
  }

  var autoRotate = function() {
    currentSlide += 1;

    if (currentSlide > numSlides) {
      currentSlide = 1;
    }

    gotoSlide(currentSlide);
  }

  setInterval(autoRotate, 7000);
</script>

{% include footer.html %}
