---
title: Groove - Get to know YOU.
description: We provide information and tools, like the Groove app, to help you learn about your unique body. Whether you&rsquo;re looking to get pregnant, avoid pregnancy, or track your cycles, Groove&rsquo;s got your back.
img: groove-shirts.png
---

{% include header.html %}

 <div class="mantle">
  <!-- <div class="tagline">
    <h1 class="gray-dark tagline-text"><span class="thin">Get to know </span>you.</h1>
  </div> -->

<div itemscope itemtype="http://schema.org/Product" class="container clearfix">
    <div class="video-wrapper" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject">
      <iframe class="video" width="800" height="450" src="//www.youtube.com/embed/3PzfJ4caalY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      <meta itemprop="name" content="Meet Groove - The Period Tracker You've Been Waiting For" />
      <meta itemprop="description" content="Meet Groove - The Period Tracker You've Been Waiting For" />
    </div>
  </div>

</div><!--.mantle-->

<script>
  var $screens = $('.screen');
  var $texts = $('.text');
  var $activeScreen = $screens.first();
  var $activeText = $texts.first();
  var currentSlide = 1;
  var numSlides = $screens.length;
  var gotoSlide = function(n) {
    $activeScreen.removeClass('active').addClass('deactivating');
    $activeText.removeClass('active').addClass('deactivating');
    $nextScreen = $('#screen' + n).removeClass('deactivating').addClass('active');
    $nextText = $('#text' + n).removeClass('deactivating').addClass('active');
    setTimeout(function() {
      $activeScreen.removeClass('deactivating');
      $activeText.removeClass('deactivating');
      $activeScreen = $nextScreen;
      $activeText = $nextText;
    }, 1000);
  }

  var autoRotate = function() {
    currentSlide += 1;

    if (currentSlide > numSlides) {
      currentSlide = 1;
    }

    gotoSlide(currentSlide);
  }

  setInterval(autoRotate, 7000);
</script>

{% include footer.html %}
