---
title: Frequently Asked Questions - Groove
description: Your questions about Groove&rsquo;s Period &amp; Fertility Tracker, answered right here.
img: groove-icon.jpg
---

{% include header.html %} 

<div class="white-background">
 <div class="container">
		<div class="header-box">
			<h1 class="page-header gray-dark">You've got questions?</h1>
			<h2 class="gray-light page-header">We've got answers</h2>
		</div>
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
		    <div class="panel-heading">
		      <p class="panel-title">
		        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		          How do I upgrade to Groove Pro?
		        </a>
		      </p>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse">
		      <div class="panel-body">
		      	<p class="gray-light">
		        	We’re glad you asked! Upgrading to Groove Pro is simple, and you can do so at any time. Simply open the app, navigate to the Settings page, click “Account Type,” and select “Groove Pro.”
		      	</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <p class="panel-title">
		        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		          Does Groove sell my data?
		        </a>
		      </p>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse">
		      <div class="panel-body">
		      	<p class="gray-light">
		       		No. And we never will.
		      	</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <p class="panel-title">
		        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
		          My abnormally long cycle is throwing off my averages and predictions. How do I fix this?
		        </a>
		      </p>
		    </div>
		    <div id="collapseSix" class="panel-collapse collapse">
		      <div class="panel-body">
		      	<p class="gray-light">
		        	Abnormally long cycles happen to the best of us, and we definitely don't want them throwing off your cycle averages and period predictions! If you experience an abnormally long cycle due to a pregnancy, late ovulation, or for another mysterious reason (hey, bodies do strange things sometimes), you can easily exclude a cycle from your averages and predictions. Simply click the "More options" icon at the top right of the chart you'd like to exclude, and then select "Exclude from predictions."
		        </p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <p class="panel-title">
		        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		          What will happen to my data if I delete Groove?
		        </a>
		      </p>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse">
		      <div class="panel-body">
		      	<p class="gray-light">
		        	Groove currently backs up your data using iCloud, and we do not save or copy any of your data to our servers. That means that if you delete Groove or get a new device, recovering your Groove data can only be done by restoring your device using an iCloud backup.
		      	</p>
		      	<p class="gray-light">
							To ensure iCloud backups are enabled, follow the instructions in the link below:
						</p>
						<p class="gray-light">
							<a class="text-link" href="https://support.apple.com/kb/ph12520">https://support.apple.com/kb/ph12520</a>
		      	</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <p class="panel-title">
		        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
		          How do I restore my Groove data if I reset my phone or get a new phone?
		        </a>
		      </p>
		    </div>
		    <div id="collapseFour" class="panel-collapse collapse">
		      <div class="panel-body">
		      	<p class="gray-light">
							Groove currently backs up your data using iCloud. If you get a new phone or reset your phone, you’ll need to restore your device from an iCloud backup to recover your Groove data. For instructions on how to restore your device using an iCloud backup, follow the instructions in the link below:
						</p>
						<p class="gray-light">
							<a class="text-link" href="https://support.apple.com/kb/ph12521">https://support.apple.com/kb/ph12521</a>
		      	</p>
		      	<p class="gray-light">
							To ensure iCloud backups are enabled for Groove, follow the instructions in the link below:
		      	</p>
		      	<p class="gray-light">
							<a class="text-link" href="https://support.apple.com/kb/ph12520">https://support.apple.com/kb/ph12520</a>
		      	</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <p class="panel-title">
		        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
		          I deleted and re-downloaded Groove and now my data is gone. What should I do?
		        </a>
		      </p>
		    </div>
		    <div id="collapseFive" class="panel-collapse collapse">
		      <div class="panel-body">
		      	<p class="gray-light">
		        	Currently, Groove uses iCloud to back up your data. If you delete and re-download Groove, you can recover your Groove data by restoring your device from an iCloud backup. To restore your device from iCloud, follow the instructions in the link below. 
		      	</p>
		      	<p class="gray-light">
		        	<a class="text-link" href="https://support.apple.com/kb/ph12521">https://support.apple.com/kb/ph12521</a> 
		      	</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <p class="panel-title">
		        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
		          I'm not sure what my charts should look like. Can I see some sample Groove charts?
		        </a>
		      </p>
		    </div>
		    <div id="collapseSix" class="panel-collapse collapse">
		      <div class="panel-body">
		      	<p class="gray-light">
		        	You sure can! Every person is a little different, but we've done our best to create some sample charts that show a variety of situations &mdash; including pregnancy, miscarriage, postpartum, PCOS, irregular cycles, stopping hormonal birth control, low progesterone, preventing pregnancy, anovulation, and short luteal phase. Keep in mind that each person's body is different, so your charts will very likely look different than our sample charts. These charts are not meant to diagnose you, so please contact a medical professional if you think there might be a problem.
		        </p>
		        <p class="gray-light">
		        	<a class="text-link" href="/blog/2016/07/09/decipher-your-cycle-with-these-sample-groove-charts/">View sample Groove charts.</a> 
		      	</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <p class="panel-title">
		        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
		          How does Groove predict my periods?
		        </a>
		      </p>
		    </div>
		    <div id="collapseSix" class="panel-collapse collapse">
		      <div class="panel-body">
		      	<p class="gray-light">
		        	Groove's algorithms use several pieces of data to predict the start of your next period &mdash; including your basal body temperature data (Groove Pro only), cervical fluid data, peak day data, and average cycle length. If you are a Groove Basic user, you can easily improve the accuracy of Groove’s period predictions by tracking your cervical fluid and marking "Peak day" when it occurs. To learn more about tracking your cervical fluid and peak day, check out the info buttons in the Groove app.
		        </p>
		        <p class="gray-light">
							Groove’s algorithms provide the most accurate period predidctions for Groove Pro users who enter basal body temperature data, with a margin of error of only one day. Ready to increase the accuracy of your period predictions? Start your free trial of Groove Pro today! From Groove's "Settings" page, click “Account Type,” and then select “Groove Pro” to upgrade. 
		      	</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <p class="panel-title">
		        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
		          How does Groove choose which account type is best for me?
		        </a>
		      </p>
		    </div>
		    <div id="collapseEight" class="panel-collapse collapse">
		      <div class="panel-body">
		        <p class="gray-light">
			       Groove chooses your account type based on the information you provide during your initial app setup process. If you have irregular cycles, for example, Groove will recommend Groove Pro because it allows you to chart your basal body temperature, which leads to highly accurate period predictions even if you have irregular cycles. Groove will recommend Groove Basic, on the other hand, if you use hormonal contraception, since you will not benefit from Groove Pro's advanced features that rely on natural hormone fluctuations. Groove’s account recommendation is based solely on which account will best serve your unique needs. We are firmly against apps that use sleazy tactics to get money from their users, and we’ll never intentionally take advantage of you. Promise.
		      	</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <p class="panel-title">
		        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
		          I started my period but my chart isn't updating. How do I start a new cycle?
		        </a>
		      </p>
		    </div>
		    <div id="collapseNine" class="panel-collapse collapse">
		      <div class="panel-body">
		      	<p class="gray-light">
		        	Bleeding can happen during various times of your menstrual cycle for a number of reasons, and it doesn’t always signal the start of your period. Groove doesn’t automatically start a new cycle when you add bleeding data because we don’t like to make assumptions about other people's bodies. To update your chart and start a new cycle, simply select the “First day of period” button after you’ve entered your bleeding data. 
		      	</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <p class="panel-title">
		        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
		          Does Groove tell me when I'm fertile?
		        </a>
		      </p>
		    </div>
		    <div id="collapseTen" class="panel-collapse collapse">
		      <div class="panel-body">
		        <p class="gray-light">
		        	Unlike other apps you may find, Groove doesn’t predict when you'll be fertile. This may feel like an annoyance, but let us take a moment to explain why that is.
		        </p>
		        <p class="gray-light">
							The time when you're fertile during any given menstrual cycle will vary depending on many environmental factors &mdash; like diet, stress levels, sleep patterns, illness, exercise, and even blue light exposure. Because so many factors can affect when you're fertile, predicting fertility is not very accurate. We feel that it is actually dangerous for an app to try to predict information about your fertility, especially if you're trying to prevent pregnancy. Rather than providing inaccurate and misleading information, we want to empower you with the knowledge you need to accurately distinguish your fertile and infertile days in real time. 
						</p>
						<p class="gray-light">
							Check out the info buttons on your app's Data screen for information and resources that will help you learn how to pinpoint your fertile days. If you’re interested in learning more about interpreting your body’s data, you may find the following links helpful:
		      	</p>
		      	<p class="gray-light">
		        	<a class="text-link" href="http://www.readytogroove.com/start-here">Take our FREE 7-day mini-course.</a> 
		      	</p>
		      	<p class="gray-light">
		        	<a class="text-link" href="http://www.readytogroove.com/blog/2014/07/18/why-you-shouldnt-trust-apps-that-predict-fertility/">Learn more about why you can't trust apps that predict fertility.</a> 
		      	</p>
		      	<p class="gray-light">
		        	<a class="text-link" href="http://www.readytogroove.com/blog/2014/12/05/how-cervical-fluid-helps-you-get-pregnant-or-not/">Learn about cervical fluid and how it helps you get pregnant (or prevent it).</a> 
		      	</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <p class="panel-title">
		        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
		          Does Groove predict ovulation?
		        </a>
		      </p>
		    </div>
		    <div id="collapseEleven" class="panel-collapse collapse">
		      <div class="panel-body">
		        <p class="gray-light">
		        	Ovulation day can vary greatly from cycle to cycle depending on a number of factors &mdash; including any type of physical or emotional stress &mdash; so, unfortunately, any app that claims to accurately predict your day of ovulation is misleading its users. Our goal is to empower you with knowledge about your body, not mislead you. Every decision we make about the Groove app is done with your best interest in mind.
		        </p>
		        <p class="gray-light">
							If you’re interested in determining which days you’re fertile, this can be done by tracking the changes in the look and feel of your cervical fluid and entering that data into Groove. When ovulation is getting close, cervical fluid becomes increasingly wet and slippery. Different types of cervical fluid are denoted by varying shades of blue in Groove &mdash; the darker the blue, the closer to ovulation you likely are!
						</p>
						<p class="gray-light">
							If you’re interested in learning more about how to determine when you’re fertile, you may find the following links helpful:
		      	</p>
		      	<p class="gray-light">
		        	<a class="text-link" href="http://www.readytogroove.com/start-here">Take our FREE 7-day mini-course.</a> 
		      	</p>
		      	<p class="gray-light">
		        	<a class="text-link" href="http://www.readytogroove.com/blog/2014/07/18/why-you-shouldnt-trust-apps-that-predict-fertility/">Learn more about why you can't trust apps that predict fertility.</a> 
		      	</p>
		      	<p class="gray-light">
		        	<a class="text-link" href="http://www.readytogroove.com/blog/2014/12/05/how-cervical-fluid-helps-you-get-pregnant-or-not/">Learn about cervical fluid and how it helps you get pregnant (or prevent it).</a> 
		      	</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <p class="panel-title">
		        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
		          Can I pause Groove if I get pregnant?
		        </a>
		      </p>
		    </div>
		    <div id="collapseThirteen" class="panel-collapse collapse">
		      <div class="panel-body">
		        <p class="gray-light">
		        	We want our users who have recently found out about a pregnancy to have a great experience with Groove, which is why we have the option to exclude charts from your cycle averages and predictions. You can continue tracking as much or as little as you'd like throughout your pregnancy, but your pregnancy data will not affect your period predictions once you start your period again. To exclude a chart from cycle averages and predictions, click the "More Options" icon in the top right of the chart you'd like to exclude, and then select "Exclude from predictions."
		      	</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <p class="panel-title">
		        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">
		          Can I import data from another app?
		        </a>
		      </p>
		    </div>
		    <div id="collapseFourteen" class="panel-collapse collapse">
		      <div class="panel-body">
		        <p class="gray-light">
		        	At the current time, Groove does not support data import from other apps. So, unfortunately, the only way to add past data is to enter it manually. To make the process easier, a shortcut we recommend is adding data like the start day of your periods, your peak days (if applicable), and your temperature shifts (if applicable). 4&ndash;6 months of this limited data will give Groove enough information to make your period predictions accurate right off the bat.
		      	</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <p class="panel-title">
		        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">
		          How do I cancel my Groove Pro subscription?
		        </a>
		      </p>
		    </div>
		    <div id="collapseFifteen" class="panel-collapse collapse">
		      <div class="panel-body">
		        <p class="gray-light">
		        	We never want you to feel like you've been tricked into paying for Groove Pro, so we make cancelling your subscription ridiculously easy.
		        </p>
		        <p class="gray-light">
							At the end of your subscription period, you will receive an in-app popup asking you if you'd like to renew Groove Pro. If you choose not to renew your subscription, you will be downgraded to Groove Basic, which is free for life. If you'd rather not wait until the end of your subscription period to cancel Groove Pro, you can downgrade to Groove Basic from the Settings page at any time.
		      	</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <p class="panel-title">
		        <a class="text-link" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">
		          Don’t see the answer to your question? Get in touch with us!
		        </a>
		      </p>
		    </div>
		    <div id="collapseSixteen" class="panel-collapse collapse">
		      <div class="panel-body">
		        <p class="gray-light">
		        	Drop us a line at <a class="text-link" href="mailto:howdy@readytogroove.com?subject=I've got a question!">howdy@readytogroove.com</a>, and we'll happily assist you!
		      	</p>
		      </div>
		    </div>
		  </div>
		</div>
	</div><!--.container-->
</div><!--.white-background-->

{% include call-to-action.html %}

{% include footer.html %}