---
title: Learn - Groove
---

{% include header.html %}

<script>
$(document).ready(function(){	 	
  slider = $('.bxslider').bxSlider({
	  auto: true,
	 autoControls: true,
	captions: true,
	pause: 5000
	});

   $('.bxslider').hover(
	function() {
		slider.stopAuto();
	},
	function() {
		slider.startAuto();
	}
	);

});
</script>

<div class="white-background">
	<div class="container">

		<h1 class="gray-dark">Learn about lady parts</h1>

		<div>
      <div id = "learn-area">
          <img id = "learn-picture" class="uterus" src="/img/reproductive-system-bw.png" />
          <div id = "learn-nav">
              <ul>
                  <li id = "fallop" class = "text-link" > Fallopian Tubes </li>
                  <li id = "ovaries" class = "text-link"> Ovaries </li>
                  <li id = "uterus" class = "text-link"> Uterus </li>
                  <li id = "cervix" class = "text-link"> Cervix </li>
                  <li id = "vagina" class = "text-link"> Vagina </li>
              </ul>
          </div>
      </div>
      <div id = "hover-text">
         
              <p class = "small-text" id = "l1">Fallopian Tubes – These arm-like structures guide the recently ovulated egg (or ovum) towards the uterus (or womb). If fertilization of the ovum occurs, it will take place inside the fallopian tubes. The fertilized egg (or embryo), is then guided to the uterus for implantation.</p>
              
              <p class = "small-text" id = "l2"> Ovaries – The ovaries are small, almond-sized structures that each house around half a million ovarian follicles.</p>
              
              <p class = "small-text" id = "l3"> Uterus – The uterus (or womb) houses a developing fetus during pregnancy. Each cycle, in response to hormone surges, the lining of the uterus thickens to prepare for the possible implantation of a fertilized egg (or embryo). </p>
              
              <p class = "small-text" id = "l4"> Cervix – The cervix is the pathway between the uterus and the vagina. As ovulation approaches mid-cycle, the cervix produces a special fluid that helps with sperm survival and motility in an otherwise hostile vaginal environment.</p>
              
              <p class = "small-text" id = "l5"> Vagina – The vagina (or birth canal) is the pathway between the cervix and the external female genitalia (or vulva). It maintains a very acidic environment to protect against infection, and this environment is hostile to sperm without the presence of cervical fluid.</p>
          
      </div>
    </div> 

		<h1 class="about-header gray-dark">Learn about the menstrual cycle</h1>

		<ul class="bxslider">
		  <li><img src="/img/menstruation.jpg" title="During menstruation, the lining of the uterus (or endometrium) is shed due to a sudden drop in hormones. At the same time, several ovarian follicles begin developing in hopes of releasing an egg during ovulation." /></li>
		  <li><img src="/img/follicular-phase1.jpg" title="As ovarian follicles develop, they begin releasing a hormone called estrogen. This estrogen causes the cervix to produce a special fluid, called cervical fluid, that aids in sperm survival and motility. During the early stages of follicle development, this cervical fluid has a sticky or tacky consistency. This also causes the uterine lining (or endometrium) to thicken in preparation for a possible pregnancy." /></li>
		  <li><img src="/img/follicular-phase2.jpg" title="As the ovarian follicles continue to develop, their estrogen production increases. One (and sometimes two) of the follicles will be develop much faster than the others, and this is the follicle that will end up ovulating. The increasing estrogen production causes the water content of the cervical fluid to increase, creating a creamy or lotiony consistency. The uterine lining continues to thicken in response to these hormone surges." /></li>
		  <li><img src="/img/ovulation.jpg" title="The ovulated egg (or ovum) will be swept into the nearest fallopian tube for possible fertilization. The follicles that did not ovulate will eventually die and be reabsorbed into the body. The high estrogen levels around this time cause the cervical fluid to become clear, stretchy, and slippery–much like raw egg white. This type of cervical fluid is highly fertile, as it is very conducive to sperm survival. " /></li>
		  <li><img src="/img/luteal-phase.jpg" title="After ovulation, the follicle that ovulated its egg (and is now empty) transforms into a structure called the corpus luteum and begins producing a new hormone called progesterone. This progesterone serves several purposes: it dries up cervical fluid (creating a hostile environment for sperm), tells any remaining follicles not to ovulate, and prepares the uterine lining for possible implantation of a fertilized egg"/></li>
		</ul>			

		<h1 class="page-header gray-dark">Why is this info so important?</h1>
		<h3 class="page-header gray-dark">Take control of your reproductive health</h3>
		<p class="gray-light">Groove helps you understand how your body changes throughout your cycle, which can help you detect when something goes awry. Understanding the female reproductive system can provide you with important information to bring to your doctor. This can help in both the diagnosis and treatment of many reproductive disorders.</p>
		<h3 class="page-header gray-dark">Know when you're fertile</h3>
		<p class="gray-light">Familiarizing yourself with your body can help you determine exactly when you're fertile. This helps you achieve your goals, whether you're looking to naturally avoid pregnancy or you are interested in getting pregnant.</p>
		<h3 class="page-header gray-dark">Know when to expect your period</h3>
		<p class="gray-light">Learning about your lady parts can help you predict the first day of your next period with incredible accuracy&mdash;down to the day! This is useful for many reasons, but, best of all, it gives you amazing insight into the functioning of your body's internal clock.</p>


	</div><!--.container-->
</div><!--.white-background-->

{% include call-to-action.html %}

{% include footer.html %}