---
title: Press - Groove
img: groove-icon.jpg
---

{% include header.html %}

<div class="gray-background">
  <div class="container">
    <h1 class="page-header gray-dark">Download Groove's Press Kit</h1>
    <h3 class="gray-light">Thanks for stopping by! Click the big, shiny button below to download our press materials (you know you want to). If you don't find what you're looking for, send us a request at <a class="text-link" href="mailto:howdy@readytogroove.com?subject=Groove-Press-Request">howdy@readytogroove.com</a>.</h3>
    <div class="press-kit">
      <a class="button" href="/download/GroovePressKit.zip">Download press kit</a>
    </div>
 
    <!-- Groove in the news -->
    <h1 class="page-header gray-dark margin-top">Groove in the news</h1>
    <h2 class="page-header gray-dark">2015</h2>
    <p>MindBodyGreen: <a class="text-link" href="http://www.mindbodygreen.com/0-22059/why-i-finally-broke-up-with-the-pill-the-non-hormonal-method-i-love-using-inste.html">Why I Finally Broke Up With The Pill + The Non-Hormonal Method I Love Using Instead</a></p>
    <p>Red Tent Sisters: <a class="text-link" href="http://www.redtentsisters.com/blog/best-period-tracking-apps">Best Period Tracking Apps</a></p>
    <p>LadyClever: <a class="text-link" href="http://ladyclever.com/health-fitness/groove-how-well-do-you-think-you-know-your-body/">Groove: How Well Do You Think You Know Your Body?</a></p>
    <p>Softonic: <a class="text-link" href="http://features.en.softonic.com/apps-for-women-breaking-down-gender-stereotypes">Apps for women: breaking down gender stereotypes</a></p>
    <p>Macleans: <a class="text-link" href="http://www.macleans.ca/society/technology/birth-control-theres-an-app-for-that-seriously/">Birth control? There&rsquo;s an app for that. Seriously.</a></p>
    <p>The Guardian: <a class="text-link" href="http://www.theguardian.com/technology/2015/jul/17/internet-of-things-prevent-help-get-pregnant">How the internet of things can prevent or help you get pregnant</a></p>
    <p>Fertility Friday: <a class="text-link" href="http://www.fertilityfriday.com/jennifer/">The Problem With the Pill</a></p>
    <p>FOX25: <a class="text-link" href="http://www.okcfox.com/story/27906360/fertility-apps-replace-birth-control-for-some">Fertility apps replace birth control for some</a></p>
    <p>Cranky Pixels: <a class="text-link" href="http://crankypixels.com/2015/05/23/i-try-out-period-tracking-apps-so-you-dont-have-to/">I Try Out Period Tracking Apps So You Don&rsquo;t Have To</a></p>
    <!--2014-->
    <h2 class="page-header gray-dark">2014</h2>
    <p>Austin Business Journal: <a class="text-link" href="http://www.bizjournals.com/austin/blog/techflash/2014/03/austin-startup-wants-to-help-you-get-pregnant-or.html">Austin startup wants to help you get pregnant (or not)</a></p>
    <p>Texans for Economic Progress: <a class="text-link" href="http://www.texasprogress.com/economic-progress/texas-gals-get-into-the-groove/">Texas Gals Get Into the Groove</a></p>
    <p>Healthy Women: <a class="text-link" href="http://www.healthywomen.org/content/article/fertility-apps-which-one-best-you?context=ages-and-stages/29&context_title=">Fertility Apps: Which One Is Best For You?</a></p>
    <p>Natural Fertility Info: <a class="text-link" href="http://natural-fertility-info.com/fertility-charting-app.html">Chart Your Fertility with a Fertility App on Your Mobile Device</a></p>
    <p>The Guardian: <a class="text-link" href="http://www.theguardian.com/technology/2014/mar/21/best-iphone-ipad-apps-games-sesame-street">20 best iPhone and iPad apps and games this week</a></p>

    <!-- Press Releases -->
    <h1 class="page-header gray-dark margin-top">Press Releases</h1>
    <h2 class="page-header gray-dark">September 2015</h2>
    {% for post in site.categories['press-release'] %}
    {% if post.url contains "2015-09" %}
    <p><a class="text-link" href="{{site.base-url}}{{post.url}}"><span itemprop="name">{{ post.title }}</span></a></p>
    {% endif %}
    {% endfor %}
  </div><!--.container-->
</div><!--.gray-background-->

{% include footer.html %}