---
title: Press - Groove
---

{% include header.html %}

<div class="gray-background">
  <div class="container">
    <h1 class="page-header gray-dark">Download Groove's Press Kit</h1>
    <h3 class="gray-light">Thanks for stopping by! Click the big, shiny button below (you know you want to) to download our press materials. If you don't find what you're looking for, send us a request at <a class="text-link" href="mailto:howdy@readytogroove.com?subject=Groove-Press-Request">howdy@readytogroove.com</a>.</h3>
    <div class="press-kit">
      <a class="button" href="/download/GroovePressKit.zip">Download press kit</a>
    </div>
  </div><!--.container-->
</div><!--.gray-background-->

{% include footer.html %}