---
title: Groove - Sample charts
description: Get help deciphering your cycles with our sample charts. Find out how to visualize things like pregnancy, miscarriage, PCOS, anovulation, irregular cycles, hormonal imbalances, and more!
img: courses/science-of-your-cycle-img.jpg
---


{% include header.html %}

<div class="white-background">
  <div class="container">
  	<div class="blog-container">
	    <div class="header-box">
	      <h1 class="gray-dark page-header">Decipher your cycle</h1>
	      <h2 class="gray-light page-header">With our handy sample charts</h2>
	    </div>
	    <div class="blog-body">
		    <p class="gray-light">Deciphering your cycles isn't always easy &mdash; everyone's body is a little different. But once you know what to look out for, collecting data about your periods can give you a powerful look into the health of your hormones, your reproductive system, and your body. Take a gander at the sample Groove charts below to learn how to visualize things like your fertile window, a pregnancy, miscarriage, polycystic ovary syndrome (PCOS), anovulation, irregular cycles, hormonal imbalance, delayed ovulation, and more!</p>

	    	<h3 class="gray-very-light">The fertile window</h3>
				{% include image.html url="/img/book/sympto-thermal-fertility-awareness-method-rules-chart.jpg" description="This person's fertile window begins on cycle day nine, which is the first day after menstruation that cervical fluid is present. Their peak day occurs on cycle day 14 and their temperature shift occurs on cycle day 16. Therefore, the end of the fertile window occurs on cycle day 18 when BOTH the temperature shift rule AND the peak day rule are satisfied. If menstruation had lasted for six days, cycle day six would be considered fertile according to the First Five Days Rule." %}

	    	<h3 class="gray-very-light">Irregular cycles</h3>
				{% include image.html url="/img/book/sympto-thermal-fertility-awareness-method-rules-chart.jpg" description="This person's fertile window begins on cycle day nine, which is the first day after menstruation that cervical fluid is present. Their peak day occurs on cycle day 14 and their temperature shift occurs on cycle day 16. Therefore, the end of the fertile window occurs on cycle day 18 when BOTH the temperature shift rule AND the peak day rule are satisfied. If menstruation had lasted for six days, cycle day six would be considered fertile according to the First Five Days Rule." %}

				<h3 class="gray-very-light">Stopping hormonal contraception</h3>
				{% include image.html url="/img/book/sympto-thermal-fertility-awareness-method-rules-chart.jpg" description="This person's fertile window begins on cycle day nine, which is the first day after menstruation that cervical fluid is present. Their peak day occurs on cycle day 14 and their temperature shift occurs on cycle day 16. Therefore, the end of the fertile window occurs on cycle day 18 when BOTH the temperature shift rule AND the peak day rule are satisfied. If menstruation had lasted for six days, cycle day six would be considered fertile according to the First Five Days Rule." %}

				<h3 class="gray-very-light">Anovulation</h3>
				{% include image.html url="/img/book/sympto-thermal-fertility-awareness-method-rules-chart.jpg" description="This person's fertile window begins on cycle day nine, which is the first day after menstruation that cervical fluid is present. Their peak day occurs on cycle day 14 and their temperature shift occurs on cycle day 16. Therefore, the end of the fertile window occurs on cycle day 18 when BOTH the temperature shift rule AND the peak day rule are satisfied. If menstruation had lasted for six days, cycle day six would be considered fertile according to the First Five Days Rule." %}

				<h3 class="gray-very-light">Pregnancy</h3>
				{% include image.html url="/img/book/sympto-thermal-fertility-awareness-method-rules-chart.jpg" description="This person's fertile window begins on cycle day nine, which is the first day after menstruation that cervical fluid is present. Their peak day occurs on cycle day 14 and their temperature shift occurs on cycle day 16. Therefore, the end of the fertile window occurs on cycle day 18 when BOTH the temperature shift rule AND the peak day rule are satisfied. If menstruation had lasted for six days, cycle day six would be considered fertile according to the First Five Days Rule." %}

				<h3 class="gray-very-light">Postpartum</h3>
				{% include image.html url="/img/book/sympto-thermal-fertility-awareness-method-rules-chart.jpg" description="This person's fertile window begins on cycle day nine, which is the first day after menstruation that cervical fluid is present. Their peak day occurs on cycle day 14 and their temperature shift occurs on cycle day 16. Therefore, the end of the fertile window occurs on cycle day 18 when BOTH the temperature shift rule AND the peak day rule are satisfied. If menstruation had lasted for six days, cycle day six would be considered fertile according to the First Five Days Rule." %}

				<h3 class="gray-very-light">Miscarriage</h3>
				{% include image.html url="/img/book/sympto-thermal-fertility-awareness-method-rules-chart.jpg" description="This person's fertile window begins on cycle day nine, which is the first day after menstruation that cervical fluid is present. Their peak day occurs on cycle day 14 and their temperature shift occurs on cycle day 16. Therefore, the end of the fertile window occurs on cycle day 18 when BOTH the temperature shift rule AND the peak day rule are satisfied. If menstruation had lasted for six days, cycle day six would be considered fertile according to the First Five Days Rule." %}

				<h3 class="gray-very-light">Delayed ovulation</h3>
				{% include image.html url="/img/book/sympto-thermal-fertility-awareness-method-rules-chart.jpg" description="This person's fertile window begins on cycle day nine, which is the first day after menstruation that cervical fluid is present. Their peak day occurs on cycle day 14 and their temperature shift occurs on cycle day 16. Therefore, the end of the fertile window occurs on cycle day 18 when BOTH the temperature shift rule AND the peak day rule are satisfied. If menstruation had lasted for six days, cycle day six would be considered fertile according to the First Five Days Rule." %}

				<h3 class="gray-very-light">Short luteal phase</h3>
				{% include image.html url="/img/book/sympto-thermal-fertility-awareness-method-rules-chart.jpg" description="This person's fertile window begins on cycle day nine, which is the first day after menstruation that cervical fluid is present. Their peak day occurs on cycle day 14 and their temperature shift occurs on cycle day 16. Therefore, the end of the fertile window occurs on cycle day 18 when BOTH the temperature shift rule AND the peak day rule are satisfied. If menstruation had lasted for six days, cycle day six would be considered fertile according to the First Five Days Rule." %}

				<h3 class="gray-very-light">Low progesterone</h3>
				{% include image.html url="/img/book/sympto-thermal-fertility-awareness-method-rules-chart.jpg" description="This person's fertile window begins on cycle day nine, which is the first day after menstruation that cervical fluid is present. Their peak day occurs on cycle day 14 and their temperature shift occurs on cycle day 16. Therefore, the end of the fertile window occurs on cycle day 18 when BOTH the temperature shift rule AND the peak day rule are satisfied. If menstruation had lasted for six days, cycle day six would be considered fertile according to the First Five Days Rule." %}
			</div>
		</div>


  </div><!--.container-->
</div><!--.white-background-->

{% include footer.html %}