---
title: Groove - The SCIENCE of Your Cycle
description: This FREE 7-day mini-course will give you everything you need to demystify your body, find out if your periods are normal, understand what your body is trying to tell you, feel in control of your health, boost your self-confidence, or find and fix the root cause of your period problems.
img: courses/science-of-your-cycle-img.jpg
---

{% include header.html %}

<div class="white-background">
	<div class="container">
		{% include science-of-your-cycle-header.html %}
		<div class="blog-container">
			<h3 class="gray-dark margin-top">So you want to understand your body, but you don't know where to start?</h3>
			<div class="blog-body">
				<p class="gray-light">
					We've created this FREE mini-course to teach you everything you're dying to know. Whether you want to demystify your body, find out if your periods are "normal", understand what your body is trying to tell you, feel in control of your health, boost your self-confidence, or even find and FIX (yes, fix!) the root cause of your period problems, we'll give you everything you need.  
				</p>
				<p class="gray-light">
					Get ready because our 7-day mini-course will put your sex ed class to shame.
				</p>
				<h3 class="gray-dark center margin-top">Sign up and access your first lesson now!</h3>
				<div class="call-to-action">
		      <form id="newsletter-form" action="http://readytogroove.us3.list-manage.com/subscribe/post?u=8e28e80027ad10398655dfd76&amp;id=eaabd064f5" method="post" class="clearfix">
		        <input name="EMAIL" type="email" placeholder="you@yours.com" required />
		        <button class="android-signup-button" type="submit">GET IT FOR FREE</button>
		      </form><!--#email-form-->
		    </div><!--.call-to-action-->

			</div><!--.text-body-->
		</div><!--.container-->
</div><!--.white-background-->

{% include footer.html %}