---
title: Groove - The SCIENCE of Your Cycle
description: This FREE 7-day mini-course will give you everything you need to demystify your body, understand if your period problems signal an underlying health problem, understand what your body is trying to tell you, boost your self-confidence, and find and FIX the root cause of your period problems.
img: courses/science-of-your-cycle-img.jpg
---

{% include header.html %}

<div class="white-background">
	<div class="container">
		{% include science-of-your-cycle-header.html %}
		<div class="blog-container">
			<h3 class="gray-dark margin-top">Want to understand your body, but don't know where to start?</h3>
			<div class="blog-body">
				<p class="gray-light">
					It's not your fault &mdash; sex ed left some SH*T out. So we've created this FREE mini-course to answer all of your burning questions, including ones you probably don't know you have! <strong>The SCIENCE of Your Cycle</strong> will demystify your body, teach you the common period problems that signal an underlying health problem, help you understand what your body is trying to tell you, boost your self-confidence, and even find and FIX (yes, fix!) the root cause of your period problems. We'll give you everything you need.  
				</p>
				<p class="gray-light">
					Get ready &mdash; this FREE 7-day mini-course will knock your socks off.
				</p>
				<h3 class="gray-dark center margin-top">Sign up and get your first lesson now!</h3>
				<div class="call-to-action">
		      <form id="newsletter-form" action="http://readytogroove.us3.list-manage.com/subscribe/post?u=8e28e80027ad10398655dfd76&amp;id=eaabd064f5" method="post" class="clearfix">
		        <input name="EMAIL" type="email" placeholder="you@yours.com" required />
		        <button class="android-signup-button" type="submit">GET IT FREE</button>
		      </form><!--#email-form-->
		    </div><!--.call-to-action-->

			</div><!--.text-body-->
		</div><!--.container-->
</div><!--.white-background-->

{% include footer.html %}