---
title: Store - Groove
description: Shop menstrual health and fertility charting must-haves.
---

{% include header.html %}

<div class="white-background">
	<div class="container">
		<div class="header-box">
			<h1 class="page-header gray-dark">Shop</h1>
			<h2 class="gray-light page-header">Products we think you&rsquo;ll love</h2>
		</div>
		<ul class="store">
			<li class="product-container">
				<a target="_blank" href="http://www.amazon.com/gp/product/0060881909/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0060881909&linkCode=as2&tag=groove07-20&linkId=7HDBBUVMWXDBXOSD"><img class="product-image block" id="store-tcoyf" src="/img/store/taking-charge-of-your-fertility-toni-weschler.jpg" /></a>
				<p class="gray-light extra-small-text block">$18.08</br><a class="text-link" target="_blank" href="http://www.amazon.com/gp/product/0060881909/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0060881909&linkCode=as2&tag=groove07-20&linkId=7HDBBUVMWXDBXOSD"><em>Taking Charge of Your Fertility</em> by Toni Weschler</a></p>
			</li><li class="product-container">
				<a target="_blank" href="http://www.leanpub.com/the-cycle"><img class="product-image block" id="store-the-cycle" src="/img/store/the-cycle-sympto-thermal-method-fertility-awareness-method-book-jennifer-aldoretta.jpg" /></a>
				<p class="gray-light extra-small-text block">$0 (suggested $9.00)</br><a class="text-link" target="_blank" href="http://www.leanpub.com/the-cycle"><em>The Cycle</em> by Jennifer Aldoretta</a></p>
			</li><li class="product-container">
				<a target="_blank" href="http://www.amazon.com/gp/product/B000O6YCZY/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000O6YCZY&linkCode=as2&tag=groove07-20&linkId=PA46MMIRMKXRSDCU"><img class="product-image block" id="store-thermometer" src="/img/store/mabis-dmi-healthcare-basal-thermometer-digital-display.jpg" /></a>
				<p class="gray-light extra-small-text block">$8.12</br><a class="text-link" target="_blank" href="http://www.amazon.com/gp/product/B000O6YCZY/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000O6YCZY&linkCode=as2&tag=groove07-20&linkId=PA46MMIRMKXRSDCU">MABIS DMI Healthcare Digital Basal Thermometer</a></p>
			</li><li class="product-container">
				<a target="_blank" href="http://www.amazon.com/gp/product/B009H30V64/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B009H30V64&linkCode=as2&tag=groove07-20&linkId=ABWP4QG2CICX6OG5"><img class="product-image block" id="store-lunette" src="/img/store/lunette-menstrual-cup-model-2.jpg" /></a>
				<p class="gray-light extra-small-text block">$39.66</br><a class="text-link" target="_blank" href="http://www.amazon.com/gp/product/B009H30V64/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B009H30V64&linkCode=as2&tag=groove07-20&linkId=ABWP4QG2CICX6OG5">Lunette Menstrual Cup &dash; Model 2</a></p>
			</li><li class="product-container">
				<a target="_blank" href="http://www.amazon.com/gp/product/B00ATEK3YU/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00ATEK3YU&linkCode=as2&tag=groove07-20&linkId=V54WW5SQOLFDWNGN"><img class="product-image block" id="store-pads" src="/img/store/reusable-bamboo-cloth-menstrual-pads-bubu-bibi.jpg" /></a>
				<p class="gray-light extra-small-text block">$42.48</br><a class="text-link" target="_blank" href="http://www.amazon.com/gp/product/B00ATEK3YU/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00ATEK3YU&linkCode=as2&tag=groove07-20&linkId=V54WW5SQOLFDWNGN">12 Reusable Bamboo Cloth Menstrual Pads</a></p>
			</li><li class="product-container">
				<a target="_blank" href="http://www.amazon.com/gp/product/B005JAT3TU/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B005JAT3TU&linkCode=as2&tag=groove07-20&linkId=TMJFU3ELK56KBBKY"><img class="product-image block" id="store-vitamins" src="/img/store/garden-of-life-vitamin-code-raw-prenatal-vitamin.jpg" /></a>
				<p class="gray-light extra-small-text block">$37.25</br><a class="text-link" target="_blank" href="http://www.amazon.com/gp/product/B005JAT3TU/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B005JAT3TU&linkCode=as2&tag=groove07-20&linkId=TMJFU3ELK56KBBKY">Vitamin Code Raw Prenatal Multivitamin (180 capsules)</a></p>
			</li><li class="product-container">
				<atarget="_blank" href="http://www.amazon.com/gp/product/B002VLYAOI/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B002VLYAOI&linkCode=as2&tag=groove07-20&linkId=5ZPWVZDCZBOUNB7A"><img class="product-image block" id="store-opk" src="/img/store/clearblue-digital-ovulation-test-ovulation-predictor-kit.jpg" /></a>
				<p class="gray-light extra-small-text block">$33.49</br><a class="text-link" target="_blank" href="http://www.amazon.com/gp/product/B002VLYAOI/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B002VLYAOI&linkCode=as2&tag=groove07-20&linkId=5ZPWVZDCZBOUNB7A">Clearblue Digital Ovulation Test (20 count)</a></p>
			</li><li class="product-container">
				<a target="_blank" href="http://www.amazon.com/gp/product/B000052XHI/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000052XHI&linkCode=as2&tag=groove07-20&linkId=EPU5HT5KRW5OPR5J"><img class="product-image block" id="store-pregnancy-test" src="/img/store/first-response-early-result-pregnancy-test.jpg" /></a>
				<p class="gray-light extra-small-text block">$12.98</br><a class="text-link" target="_blank" href="http://www.amazon.com/gp/product/B000052XHI/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000052XHI&linkCode=as2&tag=groove07-20&linkId=EPU5HT5KRW5OPR5J">First Response Early Result Pregnancy Test (3 count)</a></p>
			</li>
		</ul>

		
</div><!--.gray-background-->

{% include call-to-action.html %}

{% include footer.html %}