---
title: Store - Groove
description: Shop menstrual health and fertility charting must-haves.
img: groove-icon.jpg
---

{% include header.html %}

<div class="white-background">
	<div class="container">
		<div class="header-box">
			<h1 class="page-header gray-dark">Shop</h1>
			<h2 class="gray-light page-header">Better periods &amp; hormonal health</h2>
		</div>
		<ul class="store">
			<li class="product-container">
				<a href="https://periodreset.readytogroove.com/" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'Period Reset - store'});"><img class="product-image block" src="/img/store/period-reset-online-program.jpg" border="0"></a>
				<div class="product-description">
					<a class="text-link" href="https://periodreset.readytogroove.com/" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'Period Reset - store'});">Period Reset &ndash; Groove's 30-day program for better periods</a>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/1507728921/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1507728921&linkCode=as2&tag=groove07-20&linkId=ABWSKDAYD5DLGNNF"><img class="product-image block" src="/img/store/period-repair-manual-lara-briden-nd.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/1507728921/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1507728921&linkCode=as2&tag=groove07-20&linkId=ABWSKDAYD5DLGNNF"><em>Period Repair Manual</em> </br>by Lara Briden, ND</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B00L82H6HY/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00L82H6HY&linkCode=as2&tag=groove07-20&linkId=ZYF6PHHIDICTOGXB"><img class="product-image block" src="/img/store/prescript-assist-broad-spectrum-probiotic-prebiotic.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B00L82H6HY/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00L82H6HY&linkCode=as2&tag=groove07-20&linkId=ZYF6PHHIDICTOGXB">Prescript-Assist Broad Spectrum Probiotic Complex (90 capsules)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B001PYZDLG/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B001PYZDLG&linkCode=as2&tag=groove07-20&linkId=3CYB5ZTXOJ5Z63NM"><img class="product-image block" src="/img/store/klaire-labs-ther-biotic-complete-powder-probiotic.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B001PYZDLG/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B001PYZDLG&linkCode=as2&tag=groove07-20&linkId=3CYB5ZTXOJ5Z63NM">Klaire Labs Ther-Biotic Complete Probiotic Powder (2.1 oz)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B00TGEO4OE/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00TGEO4OE&linkCode=as2&tag=groove07-20&linkId=TDNPH47UMJJXC77J"><img class="product-image block" src="/img/store/pure-encapsulations-caprylic-acid.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B00TGEO4OE/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00TGEO4OE&linkCode=as2&tag=groove07-20&linkId=TDNPH47UMJJXC77J">Pure Encapsulations Caprylic Acid (120 capsules)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B00E7TMONG/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00E7TMONG&linkCode=as2&tag=groove07-20&linkId=SGLSXUBVXKW2FPI5"><img class="product-image block" src="/img/store/bulk-supplements-l-glutamine-1-kg.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B00E7TMONG/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00E7TMONG&linkCode=as2&tag=groove07-20&linkId=SGLSXUBVXKW2FPI5">Bulk Supplements Pure </br> L-Glutamine Powder (1 kg)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B00R7FGIWK/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00R7FGIWK&linkCode=as2&tag=groove07-20&linkId=SICGBJA5FWSDQPUA"><img class="product-image block" src="/img/store/bulletproof-collagen-protein-16-ounces.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B00R7FGIWK/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00R7FGIWK&linkCode=as2&tag=groove07-20&linkId=SICGBJA5FWSDQPUA">Bullet Proof </br> Collagen Protein Powder (16 oz)</a></p>
				</div>
			</li>


			<h2 class="gray-light page-header">Fertility charting must-haves</h2>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/0062326031/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0062326031&linkCode=as2&tag=groove07-20&linkId=NP4RACMQ3NPYFEEL"><img class="product-image block" src="/img/store/taking-charge-of-your-fertility-20th-anniversary-edition-toni-weschler.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/0062326031/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0062326031&linkCode=as2&tag=groove07-20&linkId=NP4RACMQ3NPYFEEL"><em>Taking Charge of Your Fertility</em> </br>by Toni Weschler</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.leanpub.com/the-cycle"><img class="product-image block" src="/img/store/the-cycle-sympto-thermal-method-fertility-awareness-method-book-jennifer-aldoretta.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.leanpub.com/the-cycle"><em>The Cycle</em> </br>by Jennifer Aldoretta</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="https://herfertility.simplero.com/products/35305-Cervical-Fluid-Masterclass?ref=5706-Groove" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'CF Masterclass - store'});"><img class="product-image block" src="/img/store/holistic-hormonal-health-cervical-fluid-masterclass-with-hannah-ransom.jpg" border="0"></a>
				<div class="product-description">
					<a class="text-link" href="https://herfertility.simplero.com/products/35305-Cervical-Fluid-Masterclass?ref=5706-Groove" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'CF Masterclass - store'});">Holistic Hormonal Health's Cervical Fluid Masterclass</a>
				</div>
			</li>
			<li class="product-container">
				<a href="https://herfertility.simplero.com/products/35611-HER-fertility-lite?ref=5706-Groove" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'HER fertility - store'});"><img class="product-image block" src="/img/store/holistic-hormonal-health-her-fertility-lite-with-hannah-ransom.jpg" border="0"></a>
				<div class="product-description">
					<a class="text-link" href="https://herfertility.simplero.com/products/35611-HER-fertility-lite?ref=5706-Groove" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'HER fertility - store'});">Holistic Hormonal Health's</br>HER fertility lite</a>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B000O6YCZY/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000O6YCZY&linkCode=as2&tag=groove07-20&linkId=PA46MMIRMKXRSDCU"><img class="product-image block" src="/img/store/mabis-dmi-healthcare-basal-thermometer-digital-display-fahrenheit.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B000O6YCZY/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000O6YCZY&linkCode=as2&tag=groove07-20&linkId=PA46MMIRMKXRSDCU">MABIS DMI Healthcare Digital Basal Thermometer (&deg;F)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B009HONS4K/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B009HONS4K&linkCode=as2&tag=groove07-20&linkId=4L2Q6URHBMVMPAQP"><img class="product-image block" src="/img/store/geratherm-digital-basal-thermometer-celsius-fahrenheit.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B009HONS4K/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B009HONS4K&linkCode=as2&tag=groove07-20&linkId=4L2Q6URHBMVMPAQP">Geratherm Digital Basal Thermometer (&deg;C &amp; &deg;F)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B000KIOB98/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000KIOB98&linkCode=as2&tag=groove07-20&linkId=F67Z2VIU6TADCQMC"><img class="product-image block" src="/img/store/fairhaven-health-non-mercury-glass-basal-thermometer-fahrenheit.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B000KIOB98/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000KIOB98&linkCode=as2&tag=groove07-20&linkId=F67Z2VIU6TADCQMC">Fairhaven Health Non-Mercury Glass Basal Thermometer (&deg;F)</a></p>
				</div>
			</li>

			<h2 class="gray-light page-header">Eco-friendly, sustainable period products</h2>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B00SE6XS6U/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00SE6XS6U&linkCode=as2&tag=groove07-20&linkId=3XGJBT4SYU6TB7UG"><img class="product-image block" src="/img/store/lunette-menstrual-cup-model-1.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B00SE6XS6U/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00SE6XS6U&linkCode=as2&tag=groove07-20&linkId=3XGJBT4SYU6TB7UG">Lunette Menstrual Cup Model 1 (Light to Medium Flow)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B009H30V64/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B009H30V64&linkCode=as2&tag=groove07-20&linkId=ABWP4QG2CICX6OG5"><img class="product-image block" src="/img/store/lunette-menstrual-cup-model-2.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B009H30V64/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B009H30V64&linkCode=as2&tag=groove07-20&linkId=ABWP4QG2CICX6OG5">Lunette Menstrual Cup Model 2 (Heavy Flow)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B000FAG6X0/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000FAG6X0&linkCode=as2&tag=groove07-20&linkId=5TCEPGKLN7MTUUHV"><img class="product-image block" src="/img/store/diva-cup-1-pre-childbirth.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B000FAG6X0/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000FAG6X0&linkCode=as2&tag=groove07-20&linkId=5TCEPGKLN7MTUUHV">DivaCup Menstrual Cup Model 1 (Pre-childbirth)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B000FAG6XA/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000FAG6XA&linkCode=as2&tag=groove07-20&linkId=O7TTYVDR2Y364BOD"><img class="product-image block" src="/img/store/diva-cup-menstrual-cup-model-2.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B000FAG6XA/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000FAG6XA&linkCode=as2&tag=groove07-20&linkId=O7TTYVDR2Y364BOD">DivaCup Menstrual Cup </br>Model 2</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B01AAQD1HM/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01AAQD1HM&linkCode=as2&tag=groove07-20&linkId=DY5JVYE6JDI4YCP4"><img class="product-image block" src="/img/store/glad-rags-organic-cotton-pads.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B01AAQD1HM/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01AAQD1HM&linkCode=as2&tag=groove07-20&linkId=DY5JVYE6JDI4YCP4">Glad Rags Organic Cotton Pads (Pack of 3)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B00VJXL9R0/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00VJXL9R0&linkCode=as2&tag=groove07-20&linkId=ROIC765XM7EH7F2Q"><img class="product-image block" src="/img/store/bamboo-fiber-cloth-pads.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B00VJXL9R0/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00VJXL9R0&linkCode=as2&tag=groove07-20&linkId=ROIC765XM7EH7F2Q">Bamboo Fiber Cloth Pads </br>(Pack of 6)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B000VV27OU/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000VV27OU&linkCode=as2&tag=groove07-20&linkId=3MVUDFB5AUW2VLBU"><img class="product-image block" src="/img/store/jade-and-pearl-sea-sponge-tampons.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B000VV27OU/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000VV27OU&linkCode=as2&tag=groove07-20&linkId=3MVUDFB5AUW2VLBU">Jade &amp; Pearl Reusable Sea Sponge Tampons (Pack of 2)</a></p>
				</div>
			</li>

			<h2 class="gray-light page-header">Non-toxic living</h2>
			<li class="product-container">
				<a href="https://periodreset.readytogroove.com/" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'Period Reset - store'});"><img class="product-image block" src="/img/store/period-reset-online-program.jpg" border="0"></a>
				<div class="product-description">
					<a class="text-link" href="https://periodreset.readytogroove.com/" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'Period Reset - store'});">Period Reset &ndash; Groove's 30-day program for healthy periods</a>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B00O59LG0A/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00O59LG0A&linkCode=as2&tag=groove07-20&linkId=PYIQFZQDY5VHLS2B"><img class="product-image block" src="/img/store/primal-pit-paste-deodorant.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B00O59LG0A/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00O59LG0A&linkCode=as2&tag=groove07-20&linkId=PYIQFZQDY5VHLS2B">Primal Pit Paste Natural Deodorant (2 oz)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B000BUFFPO/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000BUFFPO&linkCode=as2&tag=groove07-20&linkId=JHAMZZDNYWCJJ6ZO"><img class="product-image block" src="/img/store/burts-bees-herbal-deodorant.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B000BUFFPO/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000BUFFPO&linkCode=as2&tag=groove07-20&linkId=JHAMZZDNYWCJJ6ZO">Burt's Bees Herbal Spray-On Deodorant (4 oz)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B00JH31B54/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00JH31B54&linkCode=as2&tag=groove07-20&linkId=2JMNZ6ZXQ2VFA6QE"><img class="product-image block" src="/img/store/100-percent-pure-restorative-shampoo-and-conditioner.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B00JH31B54/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00JH31B54&linkCode=as2&tag=groove07-20&linkId=2JMNZ6ZXQ2VFA6QE">100% Pure Natural Restorative Shampoo &amp; Conditioner</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B002A8JO48/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B002A8JO48&linkCode=as2&tag=groove07-20&linkId=WTRGIRN5RQK3Q54E"><img class="product-image block" src="/img/store/merkur-classic-straight-safety-razor.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B002A8JO48/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B002A8JO48&linkCode=as2&tag=groove07-20&linkId=WTRGIRN5RQK3Q54E">Merkur Classic Straight Safety Razor</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B000HK1ON0/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000HK1ON0&linkCode=as2&tag=groove07-20&linkId=7F753KMBJHQXNCJG"><img class="product-image block" src="/img/store/dr-bronners-organic-fair-trade-castille-liquid-soap.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B000HK1ON0/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000HK1ON0&linkCode=as2&tag=groove07-20&linkId=7F753KMBJHQXNCJG">Dr. Bronner's Organic Fair Trade Castille Liquid Soap (32oz)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B00CPZPYLS/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00CPZPYLS&linkCode=as2&tag=groove07-20&linkId=7D2OIE6QADZ5ANQN"><img class="product-image block" src="/img/store/carrington-farms-extra-virgin-coconut-oil.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B00CPZPYLS/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00CPZPYLS&linkCode=as2&tag=groove07-20&linkId=7D2OIE6QADZ5ANQN">Carrington Farms Organic Extra Virgin Coconut Oil (54 oz)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B002RL8NGI/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B002RL8NGI&linkCode=as2&tag=groove07-20&linkId=ACXJ5LI2G45H6ZOG"><img class="product-image block" src="/img/store/spornette-deville-boar-bristle-brush.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B002RL8NGI/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B002RL8NGI&linkCode=as2&tag=groove07-20&linkId=ACXJ5LI2G45H6ZOG">Spornette DeVille Natural Boar Bristle Brush</a></p>
				</div>
			</li>

			<h2 class="gray-light page-header">Conception, pregnancy, birth, parenthood</h2>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/0062326031/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0062326031&linkCode=as2&tag=groove07-20&linkId=NP4RACMQ3NPYFEEL"><img class="product-image block" src="/img/store/taking-charge-of-your-fertility-20th-anniversary-edition-toni-weschler.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/0062326031/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0062326031&linkCode=as2&tag=groove07-20&linkId=NP4RACMQ3NPYFEEL"><em>Taking Charge of Your Fertility</em> </br>by Toni Weschler</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="https://periodreset.readytogroove.com/" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'Period Reset - store'});"><img class="product-image block" src="/img/store/period-reset-online-program.jpg" border="0"></a>
				<div class="product-description">
					<a class="text-link" href="https://periodreset.readytogroove.com/" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'Period Reset - store'});">Period Reset &ndash; Groove's 30-day program for healthy hormones</a>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B004382GWK/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B004382GWK&linkCode=as2&tag=groove07-20&linkId=FMXBQU5JBP67PHMA"><img class="product-image block" src="/img/store/pre-seed-sperm-friendly-personal-lubricant.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B004382GWK/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B004382GWK&linkCode=as2&tag=groove07-20&linkId=FMXBQU5JBP67PHMA">Pre-Seed Sperm-Friendly Personal Lubricant (1.4 oz)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B00XT38JY4/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00XT38JY4&linkCode=as2&tag=groove07-20&linkId=7I3CV4ZL3BZ76KGW"><img class="product-image block" src="/img/store/organic-whole-food-enzyme-probiotic-prenatal-vitamin.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B00XT38JY4/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00XT38JY4&linkCode=as2&tag=groove07-20&linkId=7I3CV4ZL3BZ76KGW">Organic Whole Food Enzyme &amp; Probiotic Prenatal Vitamin (90 capsules)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B0153SP86E/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0153SP86E&linkCode=as2&tag=groove07-20&linkId=7I2T3PFGJ2TRWWJY"><img class="product-image block" src="/img/store/baby-cloth-bamboo-cloth-diapers.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B0153SP86E/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0153SP86E&linkCode=as2&tag=groove07-20&linkId=7I2T3PFGJ2TRWWJY">Baby Cloth Reusable Bamboo Cloth Diapers (Pack of 7)</a></p>
				</div>
			</li>
			<li class="product-container">
				<a href="http://www.amazon.com/gp/product/B017U98HYY/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B017U98HYY&linkCode=as2&tag=groove07-20&linkId=UDFFR4OQ6IERZHGN"><img class="product-image block" src="/img/store/organic-bamboo-nursing-pads.jpg" /></a>
				<div class="product-description">
					<p class="gray-light extra-small-text block"><a class="text-link" href="http://www.amazon.com/gp/product/B017U98HYY/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B017U98HYY&linkCode=as2&tag=groove07-20&linkId=UDFFR4OQ6IERZHGN">Organic Bamboo Nursing Pads (Pack of 10)</a></p>
				</div>
			</li>
		</ul>

{% include affiliate.html %}
		
</div><!--.gray-background-->

{% include call-to-action.html %}

{% include footer.html %}