---
title: The Cycle - Groove
description: Learn how to practice the sympto-thermal method of fertility awareness to avoid pregnancy, track your cycles, or get pregnant.
---

{% include header.html %}

<div class="white-background">
  <div class="container">
    <div class="header-box">
      <h1 class="gray-dark page-header">Learn</h1>
      <h2 class="gray-light page-header">How to chart your fertility</h2>
    </div>

    <div>
      <div class="left-column">

<div class="chapter-list-dropdown">
{% include chapter-list-dropdown.html %}
</div>        

<div class="chapter-list">
{% include chapter-list.html %}
</div>

      </div><!--.left-column-->
      <div class="right-column">
        <div>
          <h2 class="gray-dark blog-title">Here&rsquo;s why we want to help</h2>
          <div class="blog-body">
            <p class="gray-light">Periods are a majorly taboo topic, and as a result, many people don&rsquo;t realize that the female reproductive system provides a live stream of valuable data every single day. This data can help you prevent pregnancy without hormones or devices, maximize your chances of getting pregnant, or help you improve and/or maintain your reproductive health.</p> 
            <p class="gray-light">We believe that education can change the world, which is why this information is provided to you free of charge. Happy learning!</p>
          </div><!--.blog-body-->
        </div>
      </div><!--.right-column-->
    </div>

  </div><!--.container-->
</div><!--.white-background-->

{% include call-to-action2.html %}

{% include footer.html %}