---
title: The Cycle - Groove
description: Learn how to practice the sympto-thermal method of fertility awareness to avoid pregnancy, track your cycles, or get pregnant.
---

{% include header.html %}

<div class="white-background">
  <div class="container">
    <div class="header-box">
      <h1 class="gray-dark page-header">Learn</h1>
      <h2 class="gray-light page-header">How to chart your fertility</h2>
    </div>

    <div>
      <div class="left-column">

<div class="chapter-list-dropdown">
{% include chapter-list-dropdown.html %}
</div>        

<div class="chapter-list">
{% include chapter-list.html %}
</div>

      </div><!--.left-column-->
      <div class="right-column">
        <div>
          <h2 class="gray-dark blog-title">Here&rsquo;s why we want to help</h2>
          <div class="blog-body">
            <p class="gray-light">Our CEO, Jennifer, struggled for years with severe menstrual issues and side effects from hormonal contraception. She was faced with a choice: stick with it and deal with the unbearable side effects, or quit the pill and find a way to get her body back on track without it. She decided on the latter, and what she discovered along the way was incredible.</p> 
            <p class="gray-light">Women&rsquo;s reproductive health is a taboo topic, and as a result, many women don&rsquo;t realize that our bodies are giving us a live stream of valuable data every single day. This data can help you prevent pregnancy without hormones or devices, maximize your chances of getting pregnant, or help you improve and maintain your reproductive health.</p> 
            <p class="gray-light">Jennifer&rsquo;s journey led her to write the information contained in the links on this page to help you unlock the value of this incredible data by learning about your unique body. Happy learning!</p>
          </div><!--.blog-body-->
        </div>
      </div><!--.right-column-->
    </div>

  </div><!--.container-->
</div><!--.white-background-->

{% include call-to-action2.html %}

{% include footer.html %}