---
title: The Cycle - Groove
---

{% include header.html %}

<div class="white-background">
  <div class="container">
    <h1 class="gray-dark the-cycle-header">The Cycle:</h1>
    <h3 class="gray-dark the-cycle-sub-header italics">Breaking Stigmas & Unlocking the Benefits of the Female Reproductive System with the Sympto-thermal Method of Fertility Awareness</h3>
    <p class="gray-light the-cycle-info-text"><span class="italics">The Cycle</span> is a free book written and illustrated by Groove's CEO, <a class="text-link" href="/about">Jennifer Aldoretta</a>. The following excerpts from the book will teach you all about the female reproductive system and will explain the basics of something called the sympto-thermal method of fertility awareness (STM). STM is a powerful tool that can help you naturally and effectively prevent pregnancy, help you get pregnant, and help you improve or maintain your reproductive health. We believe everyone should have access to free, high-quality information about reproductive health, and our mission is to educate and empower women. That's why the entire book can be <a class="text-link" target="_blank" href="https://leanpub.com/the-cycle">downloaded for free here</a>.</p>
    <!-- <img class="the-cycle" src="/img/the-cycle.jpg" /> -->
    <div class="the-cycle-chapters">
      {% for post in site.categories['the-cycle'] %}
      <h3><a class="text-link" href="{{site.base-url}}{{post.url}}">{{ post.title }}</a></h3>
      {% endfor %}
    </div>

  </div><!--.container-->
</div><!--.white-background-->

{% include call-to-action.html %}

{% include footer.html %}