<div class="app-download-prompt">
	<h3 class="white">Enhance your knowledge by downloading Groove</h3>
	<div class="badge">
		<div class="app-badge">
			<a href="https://itunes.apple.com/app/id831795151" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'App Store - general include'});" title="App Store"><img id="app-store-badge" src="/img/app-store-badge.png" /></a>
    </div>
    <div class="app-badge">
			<a href="/groove-for-android" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'Google Play - general include'});" title="Google Play"><img id="google-play-badge" src="/img/google-play-badge.png" /></a>
    </div>
  </div>
</div>