<div class="author-bio-block">
	<div class="bio-img">
		{% if page.author == "Brian Smith" %}
		<img class="author-bio-img" src="/img/Brian-Smith.jpg" />
		{% elsif page.author == "Dr Lara Briden ND" %}
		<img class="author-bio-img" src="/img/Dr-Lara-Briden-ND.jpg" />
		{% elsif page.author == "Sabrina Rubli" %}
		<img class="author-bio-img" src="/img/sabrina-rubli.jpg" />
		{% else %}
		<img class="author-bio-img" src="/img/Jennifer-Aldoretta.jpg" />
		{% endif %}
	</div><!--.author-img--> 
	<div class="bio-text">
		{% if page.author == "Brian Smith" %}
		<p class="extra-small-text">Brian Smith bio</p>
		{% elsif page.author == "Dr Lara Briden ND" %}
		<p class="extra-small-text"><a class="text-link" target="_blank" href="http://www.larabriden.com/">Dr. Lara Briden</a> is a board certified Naturopathic Doctor. She qualified from the Canadian College of Naturopathic Medicine in 1997, and currently runs a busy hormone clinic in Sydney, Australia. Earlier this year, she released her book <span class="italics"><a class="text-link" target="_blank" href="http://www.amazon.com/gp/product/1507728921/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1507728921&linkCode=as2&tag=groove07-20&linkId=ABWSKDAYD5DLGNNF">Period Repair Manual: Natural Treatment for Better Hormones and Better Periods</a></span>.</p>
		{% elsif page.author == "Sabrina Rubli" %}
		<p class="extra-small-text">Sabrina Rubli is cofounder and Executive Director of <a class="text-link" target="_blank" href="http://www.femmeinternational.org/">Femme International</a>, an NGO dedicated to promoting women&rsquo;s health through education with a special focus on menstrual health and hygiene. Sabrina is an expert on menstrual health education and is currently based in East Africa.</p>
		{% else %}
		<p class="extra-small-text">Jennifer Aldoretta is the cofounder and CEO of Groove. She is an entrepreneur, engineer, and biohacker who is obsessed with periods, nutrition, hormones, and the microbiome.</p>
		{% endif %}
	</div>
</div>