<div class="gray-background">
	<div class="container">
		<div class="call-to-action">
			<h2 class="gray-dark">Track your period. <a class="text-link" href="/blog/2015/09/09/new-partnership-groove-femme-international-impact/">Change the world.</h2>
			<a target="_blank" class="button" href="https://itunes.apple.com/app/id831795151" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'App download button'});">Get the iPhone app now</a>
		</div><!--.call-to-action-->
	</div><!--.container-->
</div><!--.gray-background-->