        

        {% if page.url == "/the-cycle/" %}
          <p class="small-text chapter-links"><a class="active-text-link" href="/the-cycle/">Book Home</a></p>
          <span class="chapter-divide"> | </span>
        {% else %}
          <p class="small-text chapter-links"><a class="text-link" href="/the-cycle/">Book Home</a></p>
          <span class="chapter-divide"> | </span>
        {% endif %}
        {% if page.url contains "/chapter-4" %}
        	<p class="small-text chapter-links"><a class="active-text-link" href="/the-cycle/chapter-4-female-reproductive-organs-and-endocrine-glands/">Reproductive System Basics</a></p>
          <span class="chapter-divide"> | </span>
       	{% else %}
        	<p class="small-text chapter-links"><a class="text-link" href="/the-cycle/chapter-4-female-reproductive-organs-and-endocrine-glands/">Reproductive System Basics</a></p>
          <span class="chapter-divide"> | </span>
       	{% endif %}
       	{% if page.url contains "/chapter-5" %}
        	<p class="small-text chapter-links"><a class="active-text-link" href="/the-cycle/chapter-5-female-hormones-and-the-menstrual-cycle/">Hormones &amp; the Menstrual Cycle</a></p>
          <span class="chapter-divide"> | </span>
       	{% else %}
        	<p class="small-text chapter-links"><a class="text-link" href="/the-cycle/chapter-5-female-hormones-and-the-menstrual-cycle/">Hormones &amp; the Menstrual Cycle</a></p>
          <span class="chapter-divide"> | </span>
       	{% endif %}
       	{% if page.url contains "/chapter-6" %}
        	<p class="small-text chapter-links"><a class="active-text-link" href="/the-cycle/chapter-6-hormone-changes-and-fertility-signals/">Hormones &amp; Fertility Signs</a></p>
          <span class="chapter-divide"> | </span>
       	{% else %}
        	<p class="small-text chapter-links"><a class="text-link" href="/the-cycle/chapter-6-hormone-changes-and-fertility-signals/">Hormones &amp; Fertility Signs</a></p>
          <span class="chapter-divide"> | </span>
       	{% endif %}
       	{% if page.url contains "/chapter-7" %}
        	<p class="small-text chapter-links"><a class="active-text-link" href="/the-cycle/chapter-7-the-rules-of-the-sympto-thermal-method/">Rules of Fertility Charting</a></p>
          <span class="chapter-divide"> | </span>
       	{% else %}
        	<p class="small-text chapter-links"><a class="text-link" href="/the-cycle/chapter-7-the-rules-of-the-sympto-thermal-method/">Rules of Fertility Charting</a></p>
          <span class="chapter-divide"> | </span>
       	{% endif %}
       	{% if page.url contains "/chapter-8" %}
        	<p class="small-text chapter-links"><a class="active-text-link" href="/the-cycle/chapter-8-checking-fertility-signs-how-to/">How to Check Fertility Signs</a></p>
          <span class="chapter-divide"> | </span>
       	{% else %}
        	<p class="small-text chapter-links"><a class="text-link" href="/the-cycle/chapter-8-checking-fertility-signs-how-to/">How to Check Fertility Signs</a></p>
          <span class="chapter-divide"> | </span>
       	{% endif %}
       	{% if page.url contains "/chapter-9" %}
        	<p class="small-text chapter-links"><a class="active-text-link" href="/the-cycle/chapter-9-sympto-thermal-method-effectiveness/">Fertility Charting Effectiveness</a></p>
          <span class="chapter-divide"> | </span>
       	{% else %}
        	<p class="small-text chapter-links"><a class="text-link" href="/the-cycle/chapter-9-sympto-thermal-method-effectiveness/">Fertility Charting Effectiveness</a></p>
          <span class="chapter-divide"> | </span>
       	{% endif %}
       	{% if page.url contains "/appendix-a" %}
        	<p class="small-text chapter-links"><a class="active-text-link" href="/the-cycle/appendix-a-the-sympto-thermal-method-for-pregnancy-prevention/">Charting to Prevent Pregnancy</a></p>
          <span class="chapter-divide"> | </span>
       	{% else %}
        	<p class="small-text chapter-links"><a class="text-link" href="/the-cycle/appendix-a-the-sympto-thermal-method-for-pregnancy-prevention/">Charting to Prevent Pregnancy</a></p>
          <span class="chapter-divide"> | </span>
       	{% endif %}
       	{% if page.url contains "/appendix-b" %}
        	<p class="small-text chapter-links"><a class="active-text-link" href="/the-cycle/appendix-b-the-sympto-thermal-method-for-pregnancy-assistance/">Charting to Get Pregnant</a></p>
          <span class="chapter-divide"> | </span>
       	{% else %}
        	<p class="small-text chapter-links"><a class="text-link" href="/the-cycle/appendix-b-the-sympto-thermal-method-for-pregnancy-assistance/">Charting to Get Pregnant</a></p>
          <span class="chapter-divide"> | </span>
       	{% endif %}
       	{% if page.url contains "/appendix-c" %}
        	<p class="small-text chapter-links"><a class="active-text-link" href="/the-cycle/appendix-c-the-sympto-thermal-method-for-reproductive-health/">Charting for Reproductive Health</a></p>
          <span class="chapter-divide"> | </span>
       	{% else %}
        	<p class="small-text chapter-links"><a class="text-link" href="/the-cycle/appendix-c-the-sympto-thermal-method-for-reproductive-health/">Charting for Reproductive Health</a></p>
          <span class="chapter-divide"> | </span>
       	{% endif %}
       	{% if page.url contains "/appendix-d" %}
        	<p class="small-text chapter-links"><a class="active-text-link" href="/the-cycle/appendix-d-fertility-awareness-and-menstrual-health-resources/">Resources</a></p>
          <span class="chapter-divide"> | </span>
       	{% else %}
        	<p class="small-text chapter-links"><a class="text-link" href="/the-cycle/appendix-d-fertility-awareness-and-menstrual-health-resources/">Resources</a></p>
          <span class="chapter-divide"> | </span>
       	{% endif %}
       	{% if page.url contains "/appendix-e" %}
        	<p class="small-text chapter-links"><a class="active-text-link" href="/the-cycle/appendix-e-visualizing-cervical-fluid-changes/">Cervical Fluid Images</a></p>
          <span class="chapter-divide"> | </span>
       	{% else %}
        	<p class="small-text chapter-links"><a class="text-link" href="/the-cycle/appendix-e-visualizing-cervical-fluid-changes/">Cervical Fluid Images</a></p>
          <span class="chapter-divide"> | </span>
       	{% endif %}
       	{% if page.url contains "/the-cycle/notes" %}
        	<p class="small-text chapter-links"><a class="active-text-link" href="/the-cycle/notes/">Notes</a></p>
       	{% else %}
        	<p class="small-text chapter-links"><a class="text-link" href="/the-cycle/notes/">Notes</a></p>
       	{% endif %}