<!-- Website Footer -->
   	<div itemprop="brand" itemscope itemtype="http://schema.org/Brand" itemref="_logo7" id="footer-container">
   		<div class="footer-center">
        <div class="social">
          <div class="social-button">
					 <a id="twitter" href="http://www.twitter.com/readytogroove" title="Twitter"></a>
          </div>
          <div class="social-button">
					 <a id="facebook" href="http://www.facebook.com/readytogroove" title="Facebook"></a>
          </div>
          <div class="social-button">
					 <a id="pinterest" href="https://www.pinterest.com/grooveapp/" title="Pinterest"></a>
          </div>
        </div><!--.social-->
        <p class="footer-text">
          <a class="text-link" href="/press">PRESS</a>
          |
          <a class="text-link" href="/privacy">PRIVACY POLICY</a>
          |
   				<a class="text-link" href="/terms">TERMS OF USE</a>
          |
          <a class="text-link" href="mailto:howdy@readytogroove.com">CONTACT US</a>
        </p>
   			<p class="footer-text">&copy;
          <script>now = new Date
          document.write(now.getFullYear());</script>
          <span itemprop="name">Groove, LLC</span>. All rights reserved
        </p>
        <p class="footer-text">Crafted with <span class="bold pink">love</span> in Austin, Texas.</p>
   		</div><!--.footer-center-->
   	</div><!--#footer-container-->
    <script>
    //mobile nav
      var $body = $('body');
      $('.mobile-nav-button').click(function(evt) {
        console.log('click!');
        $body.toggleClass('mobile-nav-open');
      });
    </script>

<!--Unslider-->
    <script src="/js/unslider-min.js"></script>
    <script>
      jQuery(document).ready(function($) {
        $('.my-slider').unslider({
          autoplay: true,
          speed: 750,
          delay: 7000
        });
      });
    </script>

<!--Popup Domination code -->
		<script src='https://app.popupdomination.com/a/NkFEMty2f.js'></script>

   </body><!--.body-container-->

</html>