
    </div><!--.content-container-->
    
<!-- Website Footer -->
   	<div itemprop="brand" itemscope itemtype="http://schema.org/Brand" itemref="_logo7" id="footer-container">
   		<div class="footer-center">
        <div class="social">
          <div class="social-button">
					 <a target="_blank" id="twitter" href="http://www.twitter.com/readytogroove" title="Twitter"></a>
          </div>
          <div class="social-button">
					 <a target="_blank" id="facebook" href="http://www.facebook.com/readytogroove" title="Facebook"></a>
          </div>
          <div class="social-button">
					 <a target="_blank" id="pinterest" href="http://www.pinterest.com/readytogroove" title="Pinterest"></a>
          </div>
        </div><!--.social-->
        <p class="footer-text">
          <a class="text-link" href="/press">PRESS</a>
          |
          <a class="text-link" href="/privacy">PRIVACY POLICY</a>
          |
   				<a class="text-link" href="/terms">TERMS OF USE</a>
          |
          <a class="text-link" href="mailto:howdy@readytogroove.com">CONTACT US</a>
        </p>
   			<p class="footer-text">&copy;
          <script>now = new Date
          document.write(now.getFullYear());</script>
          <span itemprop="name">Groove, LLC</span>. All rights reserved
        </p>
        <p class="footer-text">Crafted with <span class="bold pink">love</span> in Austin, Texas.</p>
   		</div><!--.footer-center-->
   	</div><!--#footer-container-->
    <script>
    //mobile nav
      var $body = $('body');
      $('.mobile-nav-button').click(function(evt) {
        console.log('click!');
        $body.toggleClass('mobile-nav-open');
      });

      // Google Analytics event listener
      var appLink = document.getElementById('app-button');
      addListener(appLink, 'click', function() {
        ga('send', 'event', 'button', 'click', 'app-store-buttons');
      });

      function addListener(element, type, callback) {
       if (element.addEventListener) element.addEventListener(type, callback);
       else if (element.attachEvent) element.attachEvent('on' + type, callback);
      } 

      // newsletter popup window
      window.onload = function () {
        // check for localStorage support
        if (localStorage) {

          //add an event listener to the newsletter form submission
          document.getElementById('newsletter-form').addEventListener('submit', function () {
            // Save variable to localStorage
            localStorage.setItem('newNewsletterSubmission', 'signedUp');
          }); // end event listener

        } // end if statement

        // retrieve localStorage variable
        signedUp = localStorage.getItem('newNewsletterSubmission');

        // check if visitor has signed up for newsletter
        if (signedUp == null) {

          // check if this is the visitor's first visit
          initialPopupTime = localStorage.getItem('initialPopupTime');

          // if it's the visitor's first visit
          if (initialPopupTime == null || initialPopupTime == 'undefined') {
            // show the popup after 30 seconds & then set initial popup time
            setTimeout(function showPopup() {
              document.getElementById('popup').style.display = 'inline';
              setTimeout(function(){document.getElementById('popup').style.opacity = '1';}, 0);
              localStorage.setItem('initialPopupTime', Date.now());
            }, 30000);

          // if it's not the visitor's first visit
          } else {
            popupTime = localStorage.getItem('initialPopupTime');
            var timeElapsed = Date.now() - popupTime;
            console.log(timeElapsed);

            // if it's been > 10 minutes since the popup, show it again in 30 sec
            if (timeElapsed > 600000) {
              setTimeout(function showPopup() {
                document.getElementById('popup').style.display = 'inline';
                setTimeout(function(){document.getElementById('popup').style.opacity = '1';}, 0);
                localStorage.setItem('initialPopupTime', Date.now());
              }, 30000);


            } else {
              // if it's been < 10 min, show popup again after 10 min
              setTimeout(function showPopup() {
                document.getElementById('popup').style.display = 'inline';
                setTimeout(function(){document.getElementById('popup').style.opacity = '1';}, 0);
                localStorage.setItem('initialPopupTime', Date.now());
              }, 600000 - timeElapsed);
            }

          } // end of else

        } // end if statement

      } // end window.onload

      // close popup when (X) is clicked
      function closePopup() {
        var hidePopup = document.getElementById('popup');
        hidePopup.style.display = 'none';
      }
           
    </script>
   </body><!--.body-container-->

</html>