<!DOCTYPE HTML>
<html lang="en">

<!-- Website Header -->
	<head>
		<meta charset="utf-8">
	    <title>{{page.title}}</title>

      <!-- Open Graph Code -->
      <meta content="{{ site.title }}" property="og:site_name">
      {% if page.title %}
        <meta content="{{ page.title }}" property="og:title">
      {% else %}
        <meta content="{{ site.title }}" property="og:title">
      {% endif %}
      {% if page.title %}
        <meta content="article" property="og:type">
      {% else %}
        <meta content="website" property="og:type">
      {% endif %}
      {% if page.url %}
        <meta content="{{ site.url }}{{ page.url }}" property="og:url">
      {% else %}
        <meta content="{{ site.url }}{{ post.url }}" property="og:url">
      {% endif %}
      {% if page.img %}
        <meta content="/img/{{ page.img }}" property="og:image">
      {% else if post.img %}
        <meta content="/img/{{ post.img }}" property="og:image">
      {% else %}
        <meta content="/img/groove-icon.jpg" property="og:image">
      {% endif %}

      <!-- Twitter Card Code -->
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@readytogroove">
      <meta name="twitter:creator" content="@readytogroove">
      {% if page.img %}
        <meta name="twitter:image:src" content="{{ site.url }}/img/{{ page.img }}">
      {% else if post.img %}
        <meta name="twitter:image:src" content="{{ site.url }}/img/{{ post.img }}">
      {% else %}
        <meta name="twitter:image:src" content="{{ site.url }}/img/groove-icon.jpg">
      {% endif %}
      
      <!-- Open Graph & Twitter Card Descriptions -->
      {% if page.description %}
        <meta name="description" content="{{page.description}}">
        <meta property="og:description" content="{{page.description}}">
        <meta name="twitter:description" content="{{page.description}}" />
      {% else if post.excerpt %}  
        <meta name="description" content="{{post.excerpt}}">
        <meta property="og:description" content="{{post.excerpt}}">
        <meta name="twitter:description" content="{{post.excerpt}}" />
      {% else %}
        <meta name="description" content="We provide information and tools, like the Groove app, to help you learn about your unique body. Whether you&rsquo;re looking to get pregnant, avoid pregnancy, or track your cycles, Groove&rsquo;s got your back.">
        <meta property="og:description" content="We provide information and tools, like the Groove app, to help you learn about your unique body. Whether you&rsquo;re looking to get pregnant, avoid pregnancy, or track your cycles, Groove&rsquo;s got your back.">
        <meta name="twitter:description" content="We provide information and tools, like the Groove app, to help you learn about your unique body. Whether you&rsquo;re looking to get pregnant, avoid pregnancy, or track your cycles, Groove&rsquo;s got your back." />
      {% endif %}
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    	<link rel='stylesheet' type='text/css' href="/css/reset.css"/>
    	<link rel='stylesheet' type='text/css' href="/css/style.css"/>
      <link rel='stylesheet' type='text/css' href="/css/newsletter-popup.css"/>
      <!--[if lte IE 8]>
        <link rel="stylesheet" type="text/css" href="/css/ie8-and-down.css" />
      <![endif]-->

    	<link rel="shortcut icon" href="/img/favicon.png" type="image/png" />
      <!-- Bootstrap v3.3.2 -->
      <!-- <link rel="stylesheet" href="/css/bootstrap.css"/> -->

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <!-- Bootstrap v3.3.2 -->
      <script src="/js/bootstrap.min.js"></script>
      <script>
          //  $(document).ready(function(){
          //     $('.dropdown-toggle').dropdown()
          // });
      </script> 
      
<!--Google Analytics-->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-37451363-1', 'auto');
        ga('send', 'pageview');
      </script> 
<!--/Google Analytics-->

	</head>

	<body>

    {% if page.url contains "/404" %}
    {% else %}

    <div id="mobile-nav">
      <button class="mobile-nav-button">
        <span></span>
      </button>
      <ul>
        {% if page.url == "/" %}
        <li class="nav-link"><a class="active-nav" href="/">HOME</a></li>
        {% else %}
        <li class="nav-link"><a class="text-link" href="/">HOME</a></li>
        {% endif %}
        {% if page.url == "/app/" %}
        <li class="nav-link"><a class="active-nav" href="/app">APP</a></li>
        {% else %}
        <li class="nav-link"><a class="text-link" href="/app">APP</a></li>
        {% endif %}
        {% if page.url contains "/the-cycle" %}
        <li class="nav-link"><a class="active-nav" href="/the-cycle">LEARN</a></li>
        {% else %}
        <li class="nav-link"><a class="text-link" href="/the-cycle">LEARN</a></li>
        {% endif %}
        {% if page.url contains "/blog" or page.url contains "/categories" %}
        <li class="nav-link"><a class="active-nav" href="/blog">BLOG</a></li>
        {% else %}
        <li class="nav-link"><a class="text-link" href="/blog">BLOG</a></li>
        {% endif %}
        {% if page.url contains "/help" %}
        <li class="nav-link"><a class="active-nav" href="/help">HELP</a></li>
        {% else %}
        <li class="nav-link"><a class="text-link" href="/help">HELP</a></li>
        {% endif %}
        {% if page.url contains "/store" %}
        <li class="nav-link"><a class="active-nav" href="/store">STORE</a></li>
        {% else %}
        <li class="nav-link"><a class="text-link" href="/store">STORE</a></li>
        {% endif %}
        {% if page.url contains "/about" %}
        <li class="nav-link"><a class="active-nav" href="/about">ABOUT</a></li>
        {% else %}
        <li class="nav-link"><a class="text-link" href="/about">ABOUT</a></li>
        {% endif %}
        <li class="nav-button-link"><a class="nav-button" itemprop="url" target="_blank" href="https://itunes.apple.com/app/id831795151" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'App download button'});">Get the iPhone app</a></li>
      </ul>
    </div>
    {% endif %}

    {% if page.url contains "/404" %}
    {% else %}

    <div id="header-container">
      <a href="/"><span id="groove"><meta id="_logo7" itemprop="logo" content="http://www.readytogroove.com/img/groove.png">Groove</span></a>
        <div class="header-nav">
          <ul>
            {% if page.url == "/app/" %}
            <li class="nav-link"><a class="active-nav" href="/app">APP</a></li>
            {% else %}
            <li class="nav-link"><a class="text-link" href="/app">APP</a></li>
            {% endif %}
            {% if page.url contains "/the-cycle" %}
            <li class="nav-link"><a class="active-nav" href="/the-cycle">LEARN</a></li>
            {% else %}
            <li class="nav-link"><a class="text-link" href="/the-cycle">LEARN</a></li>
            {% endif %}
            {% if page.url contains "/blog" or page.url contains "/categories" %}
            <li class="nav-link"><a class="active-nav" href="/blog">BLOG</a></li>
            {% else %}
            <li class="nav-link"><a class="text-link" href="/blog">BLOG</a></li>
            {% endif %}
            {% if page.url contains "/help" %}
            <li class="nav-link"><a class="active-nav" href="/help">HELP</a></li>
            {% else %}
            <li class="nav-link"><a class="text-link" href="/help">HELP</a></li>
            {% endif %}
            {% if page.url contains "/store" %}
            <li class="nav-link"><a class="active-nav" href="/store">STORE</a></li>
            {% else %}
            <li class="nav-link"><a class="text-link" href="/store">STORE</a></li>
            {% endif %}
            {% if page.url contains "/about" %}
            <li class="nav-link"><a class="active-nav" href="/about">ABOUT</a></li>
            {% else %}
            <li class="nav-link"><a class="text-link" href="/about">ABOUT</a></li>
            {% endif %}
            <li class="nav-button-link"><a class="nav-button" itemprop="url" target="_blank" href="https://itunes.apple.com/app/id831795151" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'App download button'});">Get the iPhone app</a></li>
          </ul>
        </div>
        <button class="mobile-nav-button">
            <span></span>
        </button>
    </div><!--#header-container-->

    {% endif %}

    <div class="content-container">
