<!DOCTYPE HTML>
<html lang="en">

<!-- Website Header -->
	<head>
		<meta charset="utf-8">
	    <title>{{ page.title }}</title>

      {% if page.url contains "/app" %}
      <meta http-equiv="refresh" content="0; URL='/'" />
      {% endif %}

      {% if page.url contains "/courses/period-reset" %}
      <meta http-equiv="refresh" content="0; URL='http://periodreset.readytogroove.com'" />
      {% endif %}

      {% include opengraph.html %}

	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    	<link rel='stylesheet' type='text/css' href="/css/reset.css"/>
    	<link rel='stylesheet' type='text/css' href="/css/style.css"/>
          <link rel='stylesheet' type='text/css' href="/css/newsletter-popup.css"/>
          <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="/css/ie8-and-down.css" />
          <![endif]-->

        	<link rel="shortcut icon" href="/img/favicon.png" type="image/png" />
          <script src="/js/bootstrap.min.js"></script>


          <link rel="stylesheet" href="/css/unslider.css">
          <link rel="stylesheet" href="/css/unslider-dots.css">
          <!-- <link type="text/css" rel="stylesheet" href="css/lightslider.css" />  -->                 
          <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
      
<!--Google Analytics-->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-37451363-1', 'auto');
        ga('send', 'pageview');
      </script> 
<!--/Google Analytics-->

	</head>

	<body>

    {% if page.url contains "/404" %}
    {% else %}

    <div id="mobile-nav">
      <button class="mobile-nav-button">
        <span></span>
      </button>
      <ul>
        {% if page.url == "/" %}
        <li class="nav-link"><a class="active-nav" href="/">HOME</a></li>
        {% else %}
        <li class="nav-link"><a class="text-link" href="/">HOME</a></li>
        {% endif %}
        {% if page.url contains "/the-cycle" %}
        <li class="nav-link"><a class="active-nav" href="/the-cycle">LEARN</a></li>
        {% else %}
        <li class="nav-link"><a class="text-link" href="/the-cycle">LEARN</a></li>
        {% endif %}
        <li class="nav-link"><a class="text-link" href="http://periodreset.readytogroove.com/" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'Period Reset - header'});">PERIOD RESET</a></li>
        {% if page.url contains "/blog" or page.url contains "/categories" %}
        <li class="nav-link"><a class="active-nav" href="/blog">BLOG</a></li>
        {% else %}
        <li class="nav-link"><a class="text-link" href="/blog">BLOG</a></li>
        {% endif %}
        {% if page.url contains "/store" %}
        <li class="nav-link"><a class="active-nav" href="/store">STORE</a></li>
        {% else %}
        <li class="nav-link"><a class="text-link" href="/store">STORE</a></li>
        {% endif %}
        {% if page.url contains "/about" %}
        <li class="nav-link"><a class="active-nav" href="/about">ABOUT</a></li>
        {% else %}
        <li class="nav-link"><a class="text-link" href="/about">ABOUT</a></li>
        {% endif %}
        <li class="nav-button-link">
          <a href="https://itunes.apple.com/app/id831795151" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'App Store - header'});" title="App Store"><img id="app-store-badge" src="/img/app-store-badge.png" /></a>
        </li>
        <li class="nav-button-link">
          <a href="/groove-for-android" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'Google Play - header'});" title="Google Play"><img id="google-play-badge" src="/img/google-play-badge.png" /></a>
        </li>
      </ul>
    </div>
    {% endif %}

    {% if page.url contains "/404" %}
    {% else %}

    <div id="header-container">
      <a href="/"><span id="groove"><meta id="_logo7" itemprop="logo" content="http://www.readytogroove.com/img/groove.png">Groove</span></a>
        <div class="header-nav">
          <ul>
            {% if page.url contains "/the-cycle" %}
            <li class="nav-link"><a class="active-nav" href="/the-cycle">LEARN</a></li>
            {% else %}
            <li class="nav-link"><a class="text-link" href="/the-cycle">LEARN</a></li>
            {% endif %}
            <li class="nav-link"><a class="text-link" href="http://periodreset.readytogroove.com/" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'Period Reset - header'});">PERIOD RESET</a></li>
            {% if page.url contains "/blog" or page.url contains "/categories" %}
            <li class="nav-link"><a class="active-nav" href="/blog">BLOG</a></li>
            {% else %}
            <li class="nav-link"><a class="text-link" href="/blog">BLOG</a></li>
            {% endif %}
            {% if page.url contains "/store" %}
            <li class="nav-link"><a class="active-nav" href="/store">STORE</a></li>
            {% else %}
            <li class="nav-link"><a class="text-link" href="/store">STORE</a></li>
            {% endif %}
            {% if page.url contains "/about" %}
            <li class="nav-link"><a class="active-nav" href="/about">ABOUT</a></li>
            {% else %}
            <li class="nav-link"><a class="text-link" href="/about">ABOUT</a></li>
            {% endif %}
            <li class="nav-button-link">
              <a href="https://itunes.apple.com/app/id831795151" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'App Store - header'});" title="App Store"><img id="app-store-badge" src="/img/app-store-badge.png" /></a>
            </li>
            <li class="nav-button-link">
              <a href="/groove-for-android" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'Google Play - header'});" title="Google Play"><img id="google-play-badge" src="/img/google-play-badge.png" /></a>
            </li>
          </ul>
        </div>
        <button class="mobile-nav-button">
            <span></span>
        </button>
    </div><!--#header-container-->

    {% endif %}
