<div class="app-download-prompt no-top-margin">
	<h1 class="white">Get started with Groove</h1>
	<h3 class="white">Your vagina will thank you.</h3>
	<div class="badge">
		<div class="app-badge">
			<a href="https://itunes.apple.com/app/id831795151" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'App Store button'});" title="App Store"><img id="app-store-badge" src="/img/app-store-badge.png" /></a>
    </div>
    <div class="app-badge">
			<a href="/groove-for-android" onClick="ga('send', 'event', { eventCategory: 'Button', eventAction: 'Click', eventLabel: 'Google Play button'});" title="App Store"><img id="google-play-badge" src="/img/google-play-badge.png" /></a>
    </div>
  </div>
</div>