<div class="gray-background" id="subscribe">
  <div class="container">
    <div class="call-to-action">
      <h2 class="gray-dark">Never miss an update.</h2>
      <!-- <ul>
      	<li><input type="checkbox" value="2" name="group[14977][2]" id="mce-group[14977]-14977-0"><label for="mce-group[14977]-14977-0">Reproductive and hormone health</label></li>
				<li><input type="checkbox" value="4" name="group[14977][4]" id="mce-group[14977]-14977-1"><label for="mce-group[14977]-14977-1">Natural pregnancy prevention</label></li>
				<li><input type="checkbox" value="8" name="group[14977][8]" id="mce-group[14977]-14977-2"><label for="mce-group[14977]-14977-2">Getting pregnant</label></li>
			</ul> -->

      <form id="newsletter-form" action="http://readytogroove.us3.list-manage2.com/subscribe/post?u=8e28e80027ad10398655dfd76&amp;id=b70e5a2bd7" method="post" class="clearfix">
	      <ul>
	      	<li><input type="checkbox" value="2" name="group[14977][2]" id="mce-group[14977]-14977-0"><label for="mce-group[14977]-14977-0">Reproductive and hormone health</label></li>
					<li><input type="checkbox" value="4" name="group[14977][4]" id="mce-group[14977]-14977-1"><label for="mce-group[14977]-14977-1">Natural pregnancy prevention</label></li>
					<li><input type="checkbox" value="8" name="group[14977][8]" id="mce-group[14977]-14977-2"><label for="mce-group[14977]-14977-2">Getting pregnant</label></li>
				</ul>
        <input name="EMAIL" type="email" placeholder="you@yours.com" required />
        <button class="button-small" type="submit">Subscribe</button>
      </form><!--#email-form
    </div><!--.call-to-action-->
  </div><!--.container-->
</div><!--.gray-background-->