<div id="popup">
  <a class = "closePopup" onclick="closePopup()"></a>
  <span class="newsletterHide"><h1 class="white newsletterHeader">Want more awesomeness?</h2></span>
  <span class="newsletterHide"><h3 class="white margin-bottom">Then you&rsquo;ll go bananas for our newsletter!</h3></span>
  <p class="white thin">Choose from the topics below and get <span class="italics">EXCLUSIVE</span> blog posts, videos, and free mini-courses delivered right to your inbox. <span class="newsletterHide">Awesome content + no spam = happy you.</span></p>

  <form id="newsletter-form" action="http://readytogroove.us3.list-manage2.com/subscribe/post?u=8e28e80027ad10398655dfd76&amp;id=b70e5a2bd7" method="post" class="clearfix">
    <ul class="topicList">
      <li class="topics">
        <label for="mce-group[14977]-14977-0"><input type="checkbox" value="2" name="group[14977][2]" id="mce-group[14977]-14977-0"><span></span>Reproductive &amp; hormone health</label>
      </li>
      <li class="topics">
        <label for="mce-group[14977]-14977-1"><input type="checkbox" value="4" name="group[14977][4]" id="mce-group[14977]-14977-1"><span></span>Preventing pregnancy naturally</label>
      </li>
      <li class="topics">
        <label for="mce-group[14977]-14977-2"><input type="checkbox" value="8" name="group[14977][8]" id="mce-group[14977]-14977-2"><span></span>Stopping hormonal contraception</label>
      </li>
      <li class="topics">
        <label for="mce-group[14977]-14977-3"><input type="checkbox" value="16" name="group[14977][16]" id="mce-group[14977]-14977-3"><span></span>Getting pregnant</label>
      </li>
      <li class="topics">
        <label for="mce-group[14977]-14977-4"><input type="checkbox" value="32" name="group[14977][32]" id="mce-group[14977]-14977-4"><span></span>Fertility charting tips &amp; tricks</label>
      </li>
    </ul>
      <input name="EMAIL" type="email" placeholder="you@yours.com" required />
      <button class="button-white" type="submit">SIGN ME UP</button>
  </form>
</div><!--#popup-->