<!-- Open Graph -->
<meta property="og:site_name" content="{{ site.title }}" />

<!-- Twitter Card Code -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@ReadyToGroove" />
<meta name="twitter:creator" content="@ReadyToGroove" />

<!-- Open Graph & Twitter Card Info -->

<!-- Title -->
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% endif %}{% if post.title %}{{ post.title }}{% endif %}" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% endif %}{% if post.title %}{{ post.title }}{% endif %}" />

<!-- URL -->
<meta property="og:url" content="{{ site.url }}{% if page.url %}{{ page.url }}{% endif %}{% if post.url %}{{ post.url }}{% endif %}" />
<meta name="twitter:url" content="{{ site.url }}{% if page.url %}{{ page.url }}{% endif %}{% if post.url %}{{ post.url }}{% endif %}" />

<!-- Image -->
<meta property="og:image" content="{{ site.url }}/img/{% if page.img %}{{ page.img }}{% endif %}{% if post.img %}{{ post.img }}{% endif %}" />
<meta name="twitter:image" content="{{ site.url }}/img/{% if page.img %}{{ page.img }}{% endif %}{% if post.img %}{{ post.img }}{% endif %}" />

<!-- Description -->
{% if page.description %}
  <meta property="og:description" name="description" content="{{ page.description }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
{% endif %}
{% if page.excerpt %}  
  <meta property="og:description" name="description" content="{{ page.excerpt }}" />
  <meta name="twitter:description" content="{{ page.excerpt }}" />
{% endif %}