<div class="carnelian-background">
	<div class="container">
		<h1 class="white center pr-info-header">Countdown to Period Reset:</h1>
		<div id="clockdiv">
			<div class="countdown-box">
	    	<h1 class="countdown-text"><span class="days"></span></h2>
	    	<p class="countdown-sub-text">Days</p>
	  	</div>
	    <div class="countdown-box">
	    	<h1 class="countdown-text"><span class="hours"></span></h2>
	    	<p class="countdown-sub-text">Hours</p>
	  	</div>
	  	<div class="countdown-box">
	    	<h1 class="countdown-text"><span class="minutes"></span></h2>
	    	<p class="countdown-sub-text">Minutes</p>
	  	</div>
	  	<div class="countdown-box">
	    	<h1 class="countdown-text"><span class="seconds"></span></h2>
	    	<p class="countdown-sub-text">Seconds</p>
	  	</div>
		</div>
		<h3 class="white center">Get notified when registration opens<h3>
		<div class="call-to-action-pr">
      <form id="newsletter-form" action="http://readytogroove.us3.list-manage.com/subscribe/post?u=8e28e80027ad10398655dfd76&amp;id=72be9eb711" method="post" class="clearfix">
        <input name="EMAIL" type="email" placeholder="you@yours.com" required />
        <button class="period-reset-button" type="submit">I WANT PERIOD RESET</button>
      </form><!--#email-form-->
    </div><!--.call-to-action-->
	</div><!--.container-->
</div><!--.gray-background-->