<div class="gray-background" id="subscribe">
  <div class="container">
    <div class="call-to-action">
      <h2 class="gray-dark">Want more great content?</h2>
      <p class="gray-dark blog-container">Sign up below for <span class="italics">FREE</span> blog posts, mini-courses, and videos tailored to help you meet your unique goals! Awesome conent delivered right to your inbox.</p>
      <form id="trigger-newsletter" class="clearfix">
        <input name="EMAIL" type="email" placeholder="you@yours.com" required />
        <button class="button-small" type="submit" onclick="triggerPopup()">SIGN ME UP</button>
      </form><!--#trigger-newsletter
    </div><!--.call-to-action-->
  </div><!--.container-->
</div><!--.gray-background-->