<div class="gray-background" id="subscribe">
  <div class="container">
    <div class="call-to-action">
      <h2 class="gray-dark">Want more awesomeness?</h2>
      <form id="trigger-newsletter" class="clearfix">
        <input name="EMAIL" type="email" placeholder="you@yours.com" required />
        <button class="button-small" type="submit" onclick="triggerPopup()">SIGN ME UP</button>
      </form><!--#trigger-newsletter
    </div><!--.call-to-action-->
  </div><!--.container-->
</div><!--.gray-background-->