---
title: "Infographic: How to Design Apps for Women"
description: We think apps are doing a terrible job designing for women, so we made an infographic about it.
---

{% include header.html %}

<div bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (design-for-women.psd) -->
<table id="Table_01" width="1441" height="1701" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="2">
			<img src="/img/apps-for-women/apps-for-women-gendered-products.jpg" width="715" height="357" alt="Find inspiration in gendered products. Make your app look like crappy, sexist products."></td>
		<td colspan="3">
			<img src="/img/apps-for-women/apps-for-women-women-arent-human.jpg" width="725" height="357" alt="Your users are glitter spewing, tiara wearing, butterfly whisperers, not humans."></td>
		<td>
			<img src="/img/apps-for-women/spacer.gif" width="1" height="357" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="/img/apps-for-women/apps-for-women-ignore-feedback.jpg" width="474" height="294" alt="Ignore user feedback. Women don't know what they want."></td>
		<td colspan="3">
			<img src="/img/apps-for-women/design-for-women_04.jpg" width="507" height="130" alt=""></td>
		<td rowspan="3">
			<img src="/img/apps-for-women/apps-for-women-only-pink-allowed.jpg" width="459" height="306" alt="Only pink allowed. Women only see in shades of pink, like dogs."></td>
		<td>
			<img src="/img/apps-for-women/spacer.gif" width="1" height="130" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="5">
			<img src="/img/apps-for-women/designing-apps-for-women-a-handy-guide.jpg" width="507" height="576" alt="How to design apps for women: a handy guide."></td>
		<td>
			<img src="/img/apps-for-women/spacer.gif" width="1" height="164" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="/img/apps-for-women/apps-for-women-choose-fonts-wisely.jpg" width="474" height="301" alt="Women identify best with fonts that dots i's with hearts."></td>
		<td>
			<img src="/img/apps-for-women/spacer.gif" width="1" height="12" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/img/apps-for-women/apps-for-women-flowers-everywhere.jpg" width="459" height="226" alt="Women love things covered with poorly-drawn flowers."></td>
		<td>
			<img src="/img/apps-for-women/spacer.gif" width="1" height="226" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="/img/apps-for-women/apps-for-women-incorporate-sexism.png" width="459" height="334" alt="Incorporate sexism. Equality? Advance the patriarchy."></td>
		<td>
			<img src="/img/apps-for-women/spacer.gif" width="1" height="63" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="/img/apps-for-women/apps-for-women-allow-ads.png" width="474" height="271" alt="Ads in your app should perpetuate gender stereotypes and body image issues."></td>
		<td>
			<img src="/img/apps-for-women/spacer.gif" width="1" height="111" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="/img/apps-for-women/design-for-women_11.jpg" width="507" height="160" alt=""></td>
		<td>
			<img src="/img/apps-for-women/spacer.gif" width="1" height="160" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="/img/apps-for-women/apps-for-women-diversity-is-for-suckers.png" width="736" height="252" alt="Every user has the same skin color, sexual orientation, gender identity, and religious beliefs."></td>
		<td colspan="2">
			<img src="/img/apps-for-women/apps-for-women-include-a-mood-diary.jpg" width="704" height="252" alt="Include a mood diary because only people with vaginas have emotions."></td>
		<td>
			<img src="/img/apps-for-women/spacer.gif" width="1" height="252" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="/img/apps-for-women/apps-for-women-groove-app.jpg" width="736" height="225" alt="Groove www.readytogroove.com download Groove's period tracker for iPhone"></td>
		<td colspan="2">
			<img src="/img/apps-for-women/apps-for-women-warning-sarcasm.jpg" width="704" height="225" alt="Warning: this infographic contains sarcasm."></td>
		<td>
			<img src="/img/apps-for-women/spacer.gif" width="1" height="225" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/img/apps-for-women/spacer.gif" width="474" height="1" alt=""></td>
		<td>
			<img src="/img/apps-for-women/spacer.gif" width="241" height="1" alt=""></td>
		<td>
			<img src="/img/apps-for-women/spacer.gif" width="21" height="1" alt=""></td>
		<td>
			<img src="/img/apps-for-women/spacer.gif" width="245" height="1" alt=""></td>
		<td>
			<img src="/img/apps-for-women/spacer.gif" width="459" height="1" alt=""></td>
		<td></td>
	</tr>
</table>
</div>
<!-- End Save for Web Slices -->
{% include footer.html %}