<!-- ANYTHING ALTERED IN THE HEADER OR FOOTER OF THIS DOCUMENT MUST ALSO BE ALTERED IN "main.html" AND "blog-post.html" LAYOUT TEMPLATES -->


<!-- Header text was Copy & Pasted from "main.html" layout template -->
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <title>{{page.title}}</title>
	    <meta property="og:site_name" content="Groove"/>
	    <meta property="og:title" content="{{page.title}}"/>
	    <meta property="og:image" content="http://www.readytogroove.com/img/logo.png"/>
	    <meta property="og:description" content="Smarter fertility. A better you." />
	    <meta name="description" content="Smarter fertility. A better you.">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	    <link rel='stylesheet' type='text/css' href="/css/reset.css"/>
	    <link rel='stylesheet' type='text/css' href="/css/style.css"/>
	    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script type="text/javascript" src="/js/bootstrap.js"></script>

<!--Google Analytics-->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-37451363-1', 'readytogroove.com');
        ga('send', 'pageview');
      </script>
<!--/Google Analytics-->

	</head>

	<body>

    <div id="mobile-nav">
      <button class="mobile-nav-button">
        <span></span>
      </button>
      <ul>
        <li class="nav-link"><a class="text-link" href="/">home</a></li>
        <li class="nav-link"><a class="text-link" href="/app">app</a></li>
        <li class="nav-link"><a class="text-link" href="/book">book</a></li>
        <li class="nav-link"><a class="text-link" href="/blog">blog</a></li>
        <li class="nav-link"><a class="text-link" href="/about">about</a></li>
        <li class="nav-button-link"><a class="nav-button" target="_blank" href="https://itunes.apple.com/us/app/groove-period-fertility-tracker/id831795151?ls=1&mt=8">get the iPhone app</a></li>
      </ul>
    </div>

		<div id="header-container">
      <div class="logo-container">
        <a href="/"><img class="logo-img" src="/img/logo.png" alt="Groove" /></a>
      </div>
        <div class="nav">
          <ul>
            <li class="nav-link"><a class="text-link" href="/app">app</a></li>
            <li class="nav-link"><a class="text-link" href="/the-cycle">book</a></li>
            <li class="nav-link"><a class="text-link" href="/blog">blog</a></li>
            <li class="nav-link"><a class="text-link" href="/about">about</a></li>
            <li class="nav-button-link"><a class="nav-button" target="_blank" href="https://itunes.apple.com/us/app/groove-period-fertility-tracker/id831795151?ls=1&mt=8">get the iPhone app</a></li>
          </ul>
        </div>
      </div><!--#header-container-->

  	<div class="content-container">
<!-- End Copy & Pasted Header Code -->


<!-- This is the "book-content.html" content code -->
			<div class="gray-background">
				<div class="container">
					<div class="blog-container">
						<h1 class="gray-dark blog-title">{{ page.title }}</h1>
						<div class="blog-body">
							<p>{{content}}</p>
						</div><!--.blog-body-->
					    <h3><a class="text-link" href="/the-cycle" title="Back to table of contents">&laquo; Back to Chapter List</a></h3> 
					</div><!--.blog-container-->
				</div><!--.container-->
			</div><!--.gray-background-->
<!-- End "book-content.html" content code -->


<!-- Footer text was Copy & Pasted from "main.html" layout -->
		</div><!--.content-container-->
   	<div id="footer-container">
   		<div class="footer-center">
        <div class="social">
          <div class="social-button">
					 <a target="_blank" id="twitter" href="http://www.twitter.com/readytogroove" title="Twitter"></a>
          </div>
          <div class="social-button">
					 <a target="_blank" id="facebook" href="http://www.facebook.com/readytogroove" title="Facebook"></a>
          </div>
          <div class="social-button">
					 <a target="_blank" id="pinterest" href="http://www.pinterest.com/readytogroove" title="Pinterest"></a>
          </div>
        </div><!--.social-->
        <p class="footer-text">
          <a class="text-link" href="/press.html">press</a>
          |
          <a class="text-link" href="/privacy.html">privacy policy</a>
          |
   				<a class="text-link" href="/terms.html">terms of use</a>
          |
          <a class="text-link" href="mailto:howdy@readytogroove.com">howdy@readytogroove.com</a>
        </p>
   			<p class="footer-text">&#169; 2014 Groove, LLC. All rights reserved.</p>
        <p class="footer-text">Crafted with <span class="bold pink">love</span> in Austin, Texas.</p>
   		</div><!--.footer-center-->
   	</div><!--#footer-container-->
   </body><!--.body-container-->

</html>
<!-- End Copy & Pasted Footer Code -->