
{% include header.html %}

<!-- This is the "book-content.html" content code -->
			<div class="gray-background">
				<div class="container">
					<div class="blog-container">
						<h1 class="gray-dark blog-title">{{ page.title }}</h1>
						<div class="blog-body">
							<p>{{content}}</p>
						</div><!--.blog-body-->
					    <h3><a class="text-link" href="/the-cycle" title="Back to table of contents">&laquo; Back to Chapter List</a></h3> 
					</div><!--.blog-container-->
				</div><!--.container-->
			</div><!--.gray-background-->
<!-- End "book-content.html" content code -->

 {% include footer.html %}