

{% include header.html %}

<div class="white-background">
  <div class="container">
    <div>
      <h1 class="gray-dark the-cycle-header">Learn</h1>
      <h2 class="gray-light the-cycle-header">How to chart your fertility</h2>
    </div>
    <div class="top-margin">
	    <div class="left-column">

{% include chapter-list.html %}

	    </div><!--.left-column-->
	    <div class="right-column">
				<div>
					<h2 class="gray-dark blog-title">{{ page.title }}</h2>
					<div class="blog-info">
						<div class="author-img">
							<img class="blog-author-img" src="/img/Jennifer-Aldoretta.jpg" />
						</div><!--.author-img-->
						<div class="blog-info-text">
							<p class="gray-very-light small-text">This excerpt from <em><a class="text-link" target="_blank" href="https://leanpub.com/the-cycle">The Cycle</a></em> was written by Jennifer Aldoretta</p>
						</div><!--.blog-info-text-->
					</div>
					<div class="blog-body">
						<p>{{content}}</p>
					</div><!--.blog-body-->
				</div>
	    </div><!--.right-column-->
	  </div><!--.top-margin-->

  </div><!--.container-->
</div><!--.white-background-->

{% include call-to-action2.html %}

{% include footer.html %}