<html lang="en">
	<head>
		<meta charset="utf-8">
	    <title>{{page.title}}</title>
	    <meta property="og:site_name" content="Groove"/>
	    <meta property="og:title" content="{{page.title}}"/>
	    <!-- <meta property="og:image" content="http://www.jenniferaldoretta.com/img/JA.jpg"/> -->
	    <meta property="og:description" content="Smarter fertility. A better you." />
	    <meta name="description" content="Smarter fertility. A better you.">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	    <link rel='stylesheet' type='text/css' href="/css/reset.css"/>
	    <link rel='stylesheet' type='text/css' href="/css/style.css"/>
	    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script type="text/javascript" src="/js/bootstrap.js"></script>
	</head>

	<body>
		<div id="header-container">
			<div class="logo">
				<a href="/"><img src="/img/logo.png" alt="Groove" /></a>
			</div>
			<div class="nav">
 	     	<ul>
	        <li class="nav-link"><a class="text-link" href="/app">app</a></li>
          <li class="nav-link"><a class="text-link" href="/book">book</a></li>
	        <li class="nav-link"><a class="text-link" href="/blog">blog</a></li>
          <li class="nav-link"><a class="text-link" href="/about">about</a></li>
 	      </ul>
      </div>
   	</div><!--#header-container--> 

    <!-- Insert Content into Layout Below -->

 		<div class="content-container">
 			{{content}}
 		</div><!--.content-container-->

   	<div id="footer-container">
   		<div class="footer-center">
        <div class="social">
          <div class="social-button">
					 <a target="_blank" id="twitter" href="http://www.twitter.com/readytogroove" title="Twitter"></a>
          </div>
          <div class="social-button">
					 <a target="_blank" id="facebook" href="http://www.facebook.com/readytogroove" title="Facebook"></a>
          </div>
          <div class="social-button">
					 <a target="_blank" id="pinterest" href="http://www.pinterest.com/readytogroove" title="Pinterest"></a>
          </div>
        </div><!--.social-->
        <p class="footer-text">
          <a class="text-link" href="/press">press</a>
          |
          <a class="text-link" href="/privacy">privacy policy</a>
          |
   				<a class="text-link" href="/terms">terms of use</a>
          |
          <a class="text-link" href="mailto:howdy@readytogroove.com">howdy@readytogroove.com</a>
        </p>
   			<p class="footer-text">&#169; 2014 Groove, LLC. All rights reserved.</p>
        <p class="footer-text">Crafted with <span class="bold pink">love</span> in Austin, Texas.</p>
   		</div><!--.footer-center-->
   	</div><!--#footer-container-->
   </body><!--.body-container-->

</html>