---
title: Period Reset Guide
description: Learn how to the Groove app to track your cycles, prevent pregnancy, or maximize your chances of getting pregnant.
img: meet-the-app.png
---

{% include alt-header.html %}


<div class="period-reset-header-container">
  <img id="period-reset" alt="Period Reset" src="/img/period-reset-logo.png"/>
</div>

<div class="period-reset-mantle">
	<div class="container">
		<div class="app-info">
			<div class="period-reset-info center">
				<h1 class="white">THE ULTIMATE GUIDE TO BETTER PERIODS</h1>
				<h2 class="white">Period Reset is the 30-day program designed to help you reset your hormones, improve your periods, and feel amazing!</h2>
			</div><!--center-->
		</div><!--.app-info-->
	</div><!--.container-->
</div><!--.better-hormone-health-mantle-->

<div class="gray-background">
	<div class="container">
		<div class="app-info">
			<div class="app-info-text center">
				<h1 class="gray-dark app-info-header">HERE&rsquo;S WHAT YOU GET</h1>
				<h3 class="gray-very-light app-info-header">Whatever your goal, <span itemprop="name">Groove</span> will help you get there.</h3>
			</div><!--app-info-text-->
			<div class="goal-img-container">
				<img class="goal-img" src="/img/cycle-tracking-icon.png" />
				<h3 class="gray-dark">Track your cycles</h3>
				<p class="gray-light">Enter your unique data to learn about your body and predict upcoming periods with accuracy, even if your cycles are irregular. </br><a class="text-link" href="/blog/2015/03/10/tracking-your-cycles-with-groove/">Learn more.</a></p>
			</div><!--.goal-img-container-->
			<div class="goal-img-container">
				<img class="goal-img" src="/img/get-pregnant-icon.png" />
				<h3 class="gray-dark">Get pregnant</h3>
				<p class="gray-light">Whether you&rsquo;re struggling to get pregnant or looking to discover the best times to try, Groove has your back. </br><a class="text-link" href="/blog/2014/07/04/how-to-get-pregnant-while-charting-your-fertility/#.VCnLIildXjs">Learn more.</a></p>
			</div><!--.goal-img-container-->
			<div class="goal-img-container">
				<img class="goal-img" src="/img/avoid-pregnancy-icon.png" />
				<h3 class="gray-dark">Prevent pregnancy</h3>
				<p class="gray-light">Whether you use the pill, a barrier method, or the sympto-thermal method of fertility awareness, Groove&rsquo;s got what you need. </br><a class="text-link" href="/blog/2015/03/11/preventing-pregnancy-with-groove/">Learn more.</a></p>
			</div><!--.goal-img-container-->
		</div><!--.app-info-->
	</div><!--.container-->
</div><!--.gray-background-->
<div class="gray-background">
	<div class="container">
		<div class="app-info">
			<div class="app-info-text center">
				<h1 class="gray-dark app-info-header">Expertise at your fingertips</h1>
				<h3 class="gray-very-light app-info-header">Groove automatically adapts to <strong>your</strong> unique cycles and goals. Did we mention it gets smarter with every use?</h3>
			</div><!--app-info-text-->
			<div class="center">
				<div class="phone-img-container">
					<img class="phone-img" src="/img/goal.png" />
					<p class="gray-light">A curated app </br>experience.</p>
				</div><!--.phone-img-container-->
				<div class="phone-img-container">
					<img class="phone-img" src="/img/info.png" />
					<p class="gray-light">Information </br>tailored just for you.</p>
				</div><!--.phone-img-container-->
				<div class="phone-img-container">
					<img class="phone-img" src="/img/home-cycle-tracking.png" />
					<p class="gray-light">Period predictions </br>based on modern science.</p>
				</div><!--.phone-img-container-->
			</div><!--.center-->
		</div><!--.app-info-->
	</div><!--.container-->
</div><!--.gray-background-->
<div class="white-background">
	<div class="container">
		<div class="app-info">
			<div class="app-info-text center">
				<h1 class="gray-dark app-info-header">Elegance, perfected</h1>
				<h3 class="gray-very-light app-info-header">We&rsquo;ve worked hard creating an app we&rsquo;re proud of, and one that you&rsquo;ll love to use.</h3>
			</div><!--app-info-text-->
			<div class="center">
				<div class="phone-img-container">
					<img class="phone-img" src="/img/data-cycle-tracking.png" />
					<p class="gray-light">Meticulously crafted.</p>
				</div><!--.phone-img-container-->
				<div class="phone-img-container">
					<img class="phone-img" src="/img/stats-cycle-tracking.png" />
					<p class="gray-light">Built with passion.</p>
				</div><!--.phone-img-container-->
				<div class="phone-img-container">
					<img class="phone-img" src="/img/home-fertility-charting.png" />
					<p class="gray-light">Just plain beautiful.</p>
				</div><!--.phone-img-container-->
			</div><!--.center-->
		</div><!--.app-info-->
	</div><!--.container-->
</div><!--.white-background-->

{% include call-to-action2.html %}

{% include footer.html %}