---
title: Period Reset
description: Period Reset is the ultimate 30-day guide to better periods, balanced hormones, and amazing vitality.
img: /courses/period-reset-social-share-img.jpg
---

{% include alt-header.html %}


<div class="period-reset-header-container">
  <img id="period-reset" alt="Period Reset" src="/img/courses/period-reset-logo.png"/>
</div>

<div class="period-reset-mantle">
	<div class="container">
		<div class="app-info">
			<div class="period-reset-info center">
				<h1 class="white">THE ULTIMATE GUIDE TO BETTER PERIODS</h1>
				<h2 class="white">Period Reset is the 30-day program designed to help you balance your hormones, improve your periods, and feel amazing!</h2>
			</div><!--center-->
		</div><!--.app-info-->
	</div><!--.container-->
</div><!--.better-hormone-health-mantle-->

<div class="white-background">
	<div class="container">
		<div class="course-info">
			<div class="course-img-container">
				<img class="course-img" src="/img/courses/bookshelf.jpg" />
				<p class="gray-light">Our program is based on the latest scientific research. We read studies and vet data so you don&rsquo;t have to.</p>
			</div><!--.course-img-container-->
			<div class="course-img-container">
				<img class="course-img" src="/img/courses/mango-avocado.jpg" />
				<p class="gray-light">You&rsquo;ll get recommendations that are easy to incorporate into your lifestyle. Getting healthy shouldn&rsquo;t be a chore.</p>
			</div><!--.course-img-container-->
			<div class="course-img-container">
				<img class="course-img" src="/img/courses/train-track.jpg" />
				<p class="gray-light">30 days is all it takes to get your hormones and your periods on the right track. Join the movement!</p>
			</div><!--.course-img-container-->
		</div><!--.app-info-->
	</div><!--.container-->
</div><!--.white-background-->
<div class="gray-background">
	<div class="container">
		<div class="course-info">
			<div class="course-info-text center">
				<h1 class="gray-dark course-info-header">HERE&rsquo;S WHAT YOU GET</h1>
			</div><!--course-info-text-->
			<div class="course-whats-included">
				<img class="meet-the-course-img" src="/img/courses/computer-and-notepad.jpg" />
			</div><!--.course-whats-included-->
			<div class="course-info-text hidden center">
				<h2 class="gray-very-light course-info-header">30 daily emails designed to heal your hormones and reset your period. They&rsquo;ll be chock-full of blog posts, detailed videos, exclusive recipes, and trusted product recommendations.</h2>
			</div><!--course-info-text-->
			<div class="course-text-intro">
				<h2 class="gray-very-light">30 daily emails designed to heal your hormones and reset your period. They&rsquo;ll be chock-full of blog posts, detailed videos, exclusive recipes, and trusted product recommendations.</h2>
			</div><!--course-text-intro-->
		</div><!--.course-info-->

		<div class="course-info">
			<div class="course-whats-included">
				<img class="meet-the-course-img" src="/img/courses/tomatoes.jpg" />
			</div><!--.course-whats-included-->
			<div class="course-info-text hidden center">
				<h2 class="gray-very-light course-info-header">Detailed info to help you support your gut health, eliminate common nutrient deficiencies, detect food allergies, improve your sleep, eat for optimal hormone health, ...AND MORE!</h2>
			</div><!--course-info-text-->
			<div class="course-text-intro">
				<h2 class="gray-very-light">Detailed info to help you support your gut health, eliminate common nutrient deficiencies, detect food allergies, improve your sleep, eat for optimal hormone health, ...AND MORE!</h2>
			</div><!--.course-text-intro-->
		</div><!--.course-info-->

		<div class="course-info">
			<div class="course-whats-included">
				<img class="meet-the-course-img" src="/img/courses/rows-of-houses.jpg" />
			</div><!--.course-whats-included-->
			<div class="course-info-text hidden center">
				<h2 class="gray-very-light course-info-header">Lifetime access to our closed, private Facebook community where you can ask us questions, get tips and advice, and share your progress!</h2>
			</div><!--course-info-text-->
			<div class="course-text-intro">
				<h2 class="gray-very-light">Lifetime access to our closed, private Facebook community where you can ask us questions, get tips and advice, and share your progress!</h2>
			</div><!--.course-text-intro-->
		</div><!--.course-info-->
	</div><!--.gray-background-->
</div><!--container-->

<div class="white-background">
	<div class="container">
		<div class="center">
				<img class="course-collage-img" src="/img/courses/course-image-collage.jpg" />
		</div><!--.center-->
		<div class="app-info-text center">
			<h1 class="gray-dark app-info-header center">GET YOUR LIFE BACK</h1>
			<h2 class="gray-very-light pr-info-header">Period Reset will help you balance your hormones, eliminate your period pain, and enrich your vitality!</h2>
		</div><!--app-info-text-->
	</div><!--.container-->
</div><!--.white-background-->

{% include period-reset-countdown.html %}

{% include footer.html %}